<div class="crumb">
    <a href="/node/browser">Node Browser</a>
    <a href="/node/browser/{{siteGroup}}">{{siteGroup}}</a>
    <a id="lnk_nodename"
       href="/node/{{siteGroup.toLower()}}">{{siteName}}</a>
    <a href="" class="active"><span id="tab-name">Contact Information</span></a>
</div>