<form name="userForm" ng-submit="removeFile(docConfig, doc)">
	<input type="hidden" name="delete"/>

	<div class="modal-header">
		<h3 class="modal-title">Delete {{siteName}} {{docConfig.docType}}</h3>
	</div>

	<div class="modal-body">
		<h3>Are you sure you want to delete the {{docConfig.docType}}: "{{filename}}"?</h3>
		<p></p>
	</div>

	<div class="modal-footer">
		<div class="controls">
			<button ng-click="cancel($event)" class="btn btn-default"><i class="fa fa-close"></i> Cancel</button>
			<button class="btn btn-danger" type="submit" value="Delete"><i class="fa fa-trash"></i> Delete</button>
		</div>
	</div>

	<div class="modal-close" ng-click="cancel($event)">
		<icon class="glyphicon glyphicon-remove"></icon>
	</div>
</form>