<div class="doc-container">
	<div class="btn-toolbar">
		<div class="pull-left">
			<h4 class="pull-left">{{ docConfig.title }}</h4> {{siteName}}
		</div>
		<div ng-controller="UploadModalCtrl" class="pull-right" ng-if="isAdmin">
			<a ng-click="open(docConfig)" class="btn btn-success">
				<icon class="fa fa-cloud-upload"></icon>
				Upload
			</a>
		</div>
	</div>

	<div class="widget-box">
		<div class="title-bar">
			<div class="col-sm-9 col-md-10 title">
				{{ docConfig.name }} Filename
			</div>
			<div class="col-sm-3  col-md-2 action">
				Actions
				<div class="bar-menu" style="float:right; position:relative; top: 0; right:0;">
					<!--<span ng-click="isCollapsed = !isCollapsed" class="glyphicon glyphicon-menu-down" ng-if="!isCollapsed" ></span>
					<span ng-click="isCollapsed = !isCollapsed" class="glyphicon glyphicon-menu-left" ng-if="isCollapsed"></span>-->
					<span class="glyphicon glyphicon-menu-down collapsed" aria-hidden="true" data-toggle="collapse" data-target="#docs-{{ docConfig.docType }}" aria-expanded="false" aria-controls="docs-{{ docConfig.docType }}"></span>
					<span class="glyphicon glyphicon-menu-left collapsed" aria-hidden="true" data-toggle="collapse" data-target="#docs-{{ docConfig.docType }}" aria-expanded="false" aria-controls="docs-{{ docConfig.docType }}"></span>
				</div>
			</div>
		</div>
		<div id="docs-{{ docConfig.docType }}" class="docs nav-collapse" collapse="isCollapsed">
			<ul>
				<li ng-repeat="doc in docData">
					<div class="col-sm-9 col-md-10">
						<a href="/download/{{docConfig.directory}}/{{doc.split('/').reverse()[0]}}">{{doc.split('/').reverse()[0]}}</a>
					</div>
					<div ng-controller="DeleteModalCtrl" ng-if="isAdmin" class="col-sm-3 col-md-2 action">
						<a ng-click="open(docConfig, doc, $index)" role="button">
							<i class="fa fa-trash"></i>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<hr />
	<br />
</div>