<div class="modal-header">
	<h3 class="modal-title">Upload New {{siteName}} {{docConfig.name}}</h3>
</div>

<div class="modal-body upload-body">
	<div class="control-group">
		<div class="input-group">
			<div class="input-group-btn">

				<button class="btn btn btn-success btn-file add-file" ng-click="resetDropzone()">
					<i class="fa fa-paperclip"></i>
					Attach New File
				</button>
				<button class="btn btn-danger" ng-click="resetDropzone()" ng-show="itemsInQueue > 0">Remove All</button>
			</div>
			<label class="control-label max-size">Maximum Upload File Size: 20MB max</label>
		</div>
	</div>
	<br />

	<form id="dropzone" class="dropzone" drop-zone="" multiple>
		<input type="hidden" name="siteName" id="siteName" value="{{siteName}}">
		<input type="hidden" name="name" value="{{docConfig.name}}">
		<input type="hidden" name="docType" value="{{docConfig.docType}}">
		<input type="hidden" name="directory" value="{{docConfig.directory}}">
		<input type="hidden" name="logFile" value="{{docConfig.logFile}}">
		<div class="dz-default dz-message">Drag and drop files here.</div>
	</form>
</div>

<hr />

<div class="modal-footer">
	<div class="modal-status bucketStatus">{{ bucketStatus }}</div>
	<div class="controls">
		<button ng-click="cancel($event)" class="btn btn-default" ng-show="itemsInQueue > 0 || itemsInQueue == undefined"><i class="fa fa-close"></i> Cancel</button>
		<button ng-click="processDropzone()" class="btn btn-success" type="submit" value="Upload" ng-show="itemsInQueue > 0"><i class="fa fa-cloud-upload"></i> Upload ({{itemsInQueue}})</button>
		<button ng-click="cancel($event)" class="btn btn-default" ng-show="itemsInQueue <= 0"><i class="fa fa-cloud-upload"></i> Done</button>
	</div>
</div>

<div class="modal-close" ng-click="cancel($event)">
	<icon class="glyphicon glyphicon-remove"></icon>
</div>