{% extends "html/partials/base.html.twig" %}

{% block content %}
<script>
    head.ready(["jquery", "datatables_editor"], function() {
        head.load("{{ javascript }}");
    });
</script>
<div id="content">
    <div id="content-header">
      <div class="row-fluid">
        <h1 class="pull-left" id="site-header">Master Tags Editor</h1>
        <div class="pull-right btn-toolbar">
          <div class="btn-group">
              {% if is_audit %}
              <a href="/admin-tools/master-tags" id="audit-button" class="btn btn-warning">Audit Trail</a>
              {% else %}
              <a href="/admin-tools/master-tags/audit" id="audit-button" class="btn btn-warning">Audit Trail</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-danger">
                    <h4>Warning: Editing a tag will change that tag value for <em>ALL</em> nodes.</h4>
                </div>

                <div class="widget-box">
                    <div class="widget-content tab-content nopadding">
                        <!-- This is the Master Tags tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="widget-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#1_1" class='MasterTags'>Master Tags</a></li>
                                </ul>
                            </div>
                            <div class="widget-content tab-content nopadding">
                                <!--Master Tags Table-->
                                <div id="1_1" class="tab-pane active">
                                    <table class="table table-bordered table-hover fixed-table" id="tbl_mastertag">
                                        <thead>
                                        <tr>
                                            {% if is_audit %}
                                            <th></th>
                                            <th>Modify Time</th>
                                            <th>Row ID</th>
                                            <th>Tag</th>
                                            <th>Removed</th>
                                            <th>Created</th>
                                            {% else %}
                                            <th>ID</th>
                                            <th>Tag</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_audit %}<script>head.ready( function() { $('#audit-button').button('toggle'); });</script>{% endif %}
{% endblock %}