{% extends "html/partials/base.html.twig" %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <h1 class="pull-left"><icon class="fa fa-times"></icon>Delete an Existing VSN from a Node</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                                {% if message %}
                                    {{ message }}
                                {% else %}
                                    <form id="SiteWizardForm" enctype="multipart/form-data" action="/admin-tools/del-vsn" method="POST">
                                        <div id="message">
                                            There are two methods for removing a VSN from the database:
                                            <br>
                                            <ul>
                                                <li>Deactivate
                                                    <ul>
                                                        <li>Deactivating a VSN will make that VSN only viewable by administrators or those with sufficient priveleges. This can be useful for archiving data, since the audit tables are still accessible.</li>
                                                    </ul>
                                                </li>
                                                <li>Delete
                                                    <ul>
                                                        <li>Deleting a VSN will remove all associated data from the database. NOTE: This includes audit trail information relating to this node. This is completely irreversable, so proceed with caution.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="info-message"><br> Selected Node : {{ Node }} <br><br></div>
                                        <div class="control-group">
                                            <input id="delNextField" name="delNextField" type="hidden" value="">
                                            <input id="Node" name="Node" type="hidden" value="{{ Node }}">
                                            <div class="controls">
                                                <select id="VSNDeleteSelectVsn" name="VSNDeleteSelectVsn" class="required" style="width: 240px">
                                                    <option value="">Select a VSN for the above Node </option>
                                                    {% for vsn in vsns %}
                                                        <option value="{{ vsn }}">{{ vsn|upper }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br><br>
                                        {% if empty %}
                                            <input class="btn btn-danger pull-right" type="submit" value="Delete" disabled>
                                        {% else %}
                                            <input class="btn btn-danger pull-right" type="submit" value="Delete">
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
