{% extends "html/partials/base.html.twig" %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <h1 class="pull-left"><icon class="fa fa-times"></icon>Delete an Existing VSN from a Node</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                                {% if message %}
                                    {{ message }}
                                {% else %}
                                    <form id="SiteWizardForm" enctype="multipart/form-data" action="/admin-tools/del-vsn" method="POST">
                                        <div id="message">
                                            There are two methods for removing a VSN from the database:
                                            <br>
                                            <ul>
                                                <li>Deactivate
                                                    <ul>
                                                        <li>Deactivating a VSN will make that VSN only viewable by administrators or those with sufficient priveleges. This can be useful for archiving data, since the audit tables are still accessible.</li>
                                                    </ul>
                                                </li>
                                                <li>Delete
                                                    <ul>
                                                        <li>Deleting a VSN will remove all associated data from the database. NOTE: This includes audit trail information relating to this node. This is completely irreversable, so proceed with caution.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <input id="delNextField" name="delNextField" type="hidden" value="VSN">
                                                <select id="VSNDeleteSelectNode" name="VSNDeleteSelectNode" class="required">
                                                    <option value="">Select a Node</option>
                                                    {% for node in nodes %}
                                                        <option value="{{ node }}">{{ node|upper }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <br><br>
                                        <input class="btn btn-danger pull-right" type="submit" value="Select VSN">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
