<div id="preview-template">
	<div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<i class="fa fa-file-text"></i>
			<div class="dz-filename">
				<span data-dz-name></span>
			</div>
			<div class="dz-size" data-dz-size></div>
			<img data-dz-thumbnail />
			<div class="actions pull-right">
				<a class="dz-remove" href="javascript:undefined;" data-dz-remove=""><i class="fa fa-trash pull-right"></i></a>
				<div class="dz-success-mark"><span><i class="fa fa-check"></i></span></div>
				<span class="dz-errormessage" data-dz-errormessage></span>
				<div class="dz-error-mark"><span><i class="fa fa-close"></i></span></div>
			</div>
			<div class="upload-status">
				<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
				<!--<div class="dz-error-message"><span data-dz-errormessage></span></div>-->
			</div>
		</div>
	</div>
</div>