<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="NetworkType" class="col-sm-5 control-label">Network Type:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NetworkType" ng-model="vm.form.NetworkType" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Name" class="col-sm-5 control-label">Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name" ng-model="vm.form.Name" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Subnet" class="col-sm-5 control-label">Subnet:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Subnet" ng-model="vm.form.Subnet" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Netmask" class="col-sm-5 control-label">Netmask:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Netmask" ng-model="vm.form.Netmask" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="NumIPs" class="col-sm-5 control-label">Number of IPs:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NumIPs" ng-model="vm.form.NumIPs" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Purpose" class="col-sm-5 control-label">Purpose:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Purpose" ng-model="vm.form.Purpose" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VLAN" class="col-sm-5 control-label">VLAN:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="VLAN" ng-model="vm.form.VLAN" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="MX960LogicalSystem" class="col-sm-5 control-label">MX960 Logical System:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MX960LogicalSystem" ng-model="vm.form.MX960LogicalSystem" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="MX960VirtualRouter" class="col-sm-5 control-label">MX960 Virtual Router:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MX960VirtualRouter" ng-model="vm.form.MX960VirtualRouter" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="MX960Interface" class="col-sm-5 control-label">MX960 Interface:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MX960Interface" ng-model="vm.form.MX960Interface" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FirewallVirtualRouter" class="col-sm-5 control-label">Firewall Virtual Router:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirewallVirtualRouter" ng-model="vm.form.FirewallVirtualRouter" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FirewallZone" class="col-sm-5 control-label">Firewall Zone:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirewallZone" ng-model="vm.form.FirewallZone" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FirewallInterface" class="col-sm-5 control-label">Firewall Interface:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirewallInterface" ng-model="vm.form.FirewallInterface" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSNInstance" class="col-sm-5 control-label">VSN Instance:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="VSNInstance" ng-model="vm.form.VSNInstance" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Notes" class="col-sm-5 control-label">Notes:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="Notes" rows="5" ng-model="vm.form.Notes" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

