{% extends "html/partials/base.html.twig" %}

{% block content %}

    <div id="content">
        <div id="content-header">
            <h1 class="pull-left"><icon class="fa fa-times"></icon>(Re)Activate a Node</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                                {% if message %}
                                    {{ message }}
                                {% else %}
                                    <form id="SiteWizardForm" enctype="multipart/form-data" action="/node-tools/activ-node" method="POST">
                                        <div id="message">
                                            <ul>
                                                <li>(Re)Activate
                                                    <ul>
                                                        <li>(Re)Activating a Node will make that Node available again for configuration updates.<br>
                                                            The node will move into the default SiteGroup ({{ php._SESSION.rules.DefaultSiteGroup }}).</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <select id="ActivateSelectNode" name="ActivateSelectNode" class="required">
                                                    <option value="">Select a Node</option>
                                                    {% for node in nodes %}
                                                        <option value="{{ node }}">{{ node|upper }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br><br>
                                        <input class="btn btn-danger pull-right" type="submit" value="(Re)Activate">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
