{% extends "html/partials/base.html.twig" %}

{% block content %}

    <div id="content">
        <div id="content-header">
            <h1 class="pull-left"><icon class="fa fa-times"></icon>Deactivate an Existing Node</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                                {% if message %}
                                    {{ message }}
                                {% else %}
                                    <form id="SiteWizardForm" enctype="multipart/form-data" action="/node-tools/deactiv-node" method="POST">
                                        <div id="message">
                                            <ul>
                                                <li>Deactivate
                                                    <ul>
                                                        <li>Deactivating a Node will make that Node only viewable by administrators or those with sufficient priveleges. This can be useful for archiving data, since the audit tables are still accessible.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <select id="DeactivateSelectNode" name="DeactivateSelectNode" class="required">
                                                    <option value="">Select a Node</option>
                                                    {% for node in nodes %}
                                                        <option value="{{ node }}">{{ node|upper }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br><br>
                                        <input class="btn btn-danger pull-right" type="submit" value="Deactivate">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
