{% extends "html/partials/base.html.twig" %}

{% block content %}
<div id="content">
    <div id="content-header">
        <h1 class="pull-left"><icon class="fa fa-long-arrow-right"></icon> Continue a Node in progress:</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="row-fluid">
                            <form id="ContinueWizardForm" enctype="multipart/form-data" action="/node-tools/wizard" method="POST">
                                <div class="control-group">
                                    <div class="controls">
                                        <select id="NameSelect" name="wizard[pre][SiteName]" class="required">
                                            <option value="">Select a Node</option>
                                            {% for node in started_nodes %}
                                                <option value="{{ node['SiteName'] }}">{{ node['SiteName'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br><br>
                                <input class="btn btn-inverse pull-right" type="submit" value="Continue Node">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}