{% extends "html/partials/base.html.twig" %}

{% block content %}

<script type="text/javascript">
    head.ready(function () {
        // let's not continue if sitename/nodename is not correct
        $('#startWizard').prop('disabled', true);
        $('#validated').val(0);

        // Validate SiteName
        // MQ : tab-key acts odd (tab sequence off ?) - no idea how to fix it
        $('#SiteName').change(function () {
            var siteNameRule = new RegExp($('#SiteNameRule').val());
            var inputVal = $(this).val();

            if (!siteNameRule.test(inputVal)) {
                //alert('Sitename must have 3 characters and SN added and at least 1 numeric number(ex. "aaaSN1").');
                $('#error_msg').text('Sitename must have 3 characters and SN added and at least 1 numeric number(ex. "aaaSN1").');
            } else {
                $('#validated').val(parseInt($('#validated').val()) + 1);
                if ($('#validated').val() == 2)
                    $('#startWizard').prop('disabled', false);
                $(this).next('.inputs').focus();
            }
        });

        // Make sure we selected a Gen Type
        $('#TypeSelect').blur(function () {
            //var gentypeFormat = new RegExp('^[0-9]\.[0-9]\s[a-zA-Z].*$'); // the blank is not detected
            var gentypeFormat = new RegExp($('#SiteTypeRule').val());
            var selectedData = $("#TypeSelect option:selected").text();

            if (gentypeFormat.test(selectedData)) {
                $('#validated').val( parseInt($('#validated').val())+1);
                if ($('#validated').val() == 2)
                    $('#startWizard').prop('disabled', false);
                $(this).next('.inputs').focus();
            }
        });

});

</script>

<div id="content">
    <div class="container-fluid">
        <!-- MQ : do we really need all this div-crap to center some text and an image -->
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div id="content-header">
                                <h1><icon class="fa fa-magic"></icon></h1><h1>Welcome!</h1>
                                <h4>Please complete the following fields.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content">
                        <div class="row-fluid">
                            <form id="SiteWizardForm" enctype="multipart/form-data" action="/node-tools/wizard" method="POST">
                                <!-- used to mark off field validations -->
                                <input type="hidden" id="validated" name="validated" value="0">
                                <!-- business rules read from database -->
                                <input type="hidden" id="SiteNameRule" value="{{ php._SESSION.rules.SiteName }}" />
                                <input type="hidden" id="SiteTypeRule" value="{{ php._SESSION.rules.SiteType }}" />

                                <div class="control-group">
                                    <div class="controls">
                                        <label>Gen Type:<span class="mandatory">*</span>
                                            <select id="TypeSelect" name="wizard[pre][SiteType]" class="required inputs">
                                                <option value="">Select a base Gen Type</option>
                                                {% for node_type in node_types %}
                                                    <option value="{{ node_type }}">{{ node_type }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label>Site Name:<span class="mandatory">*</span>
                                            <input class="required inputs" id="SiteName" name="wizard[pre][SiteName]" type="text"  maxlength="10" size="10" placeholder="xxxSN9xxx"/>
                                        </label>
                                    </div>
                                </div>
                                <div id="error_msg" class="error_msg"></div>

                                <br><br>
                                <div class="sub-group pull-right">
                                    <div class="controls">
                                        <input role="button" class="btn btn-inverse" id="startWizard" type="submit" value="START">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
