{% extends "html/partials/base.html.twig" %}

{% block content %}
<script>
    head.ready(["jquery", "datatables_editor"], function() {
        head.load("/assets/js/tables/portal.tables.ter.js");
    });
</script>
<div id="content">
    <div id="content-header">
        <h1 class="pull-left" id="site-header">Test Exit Report</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content tab-content nopadding">
                        <table class="table table-bordered table-hover fixed-table" id="ter-table">
                            <thead>
                            <tr>
                                <th>SIT</th>
                                <th>VSN</th>
                                <th>Doc ID</th>
                                <th>Req ID</th>
                                <th>TPL #</th>
                                <th>Req Desc</th>
                                <th>Result</th>
                                <th>Testers</th>
                                <th>Test Date</th>
                                <th>Test Description</th>
                                <th>Results Description</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}