<!-- ABOUT US MODAL -->
<div id="modal_about" class="modal fade" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>About Us</h3>
			</div>
			<div class="modal-body">
				<div id="about-logo">&nbsp;</div>
				<div id="about-content">
					<p>Powered by<br />
						Version: {{ php._SESSION.rules.Version }}</p>
					<br />
					<p>Warning: This computer program is protected by copyright law and International treaties. Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.</p>
					<br />
					<p>Support: <span>{{ php._SESSION.rules.Support }}</span><br />
						Email: <span>{{ php._SESSION.rules.Email }}</span></p>
					<br />
					<p>&copy; {{ php._SESSION.rules.Copyright1 }} {{ php._SESSION.rules.Copyright2 }}</p>
				</div>
			</div>

			<div class="modal-close" data-dismiss="modal">
				<i class="glyphicon glyphicon-remove"></i>
			</div>
		</div>
		<!-- modal-content -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- #modal_about -->