{{ check_login() }}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ constant('APP_NAME') }}</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/images/touch-icon.png">
        <style>
            #pageLoading {
                background-color: rgba(0,0,0,.5);
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 101;
            }
            #pageLoading span {
                font-family: 'OpenSans', sans-serif;
                color: #ffffff;
                position: relative;
                top: 55%;
                font-size: 21px;
	            display: block;
	            text-align: center;
            }
        </style>
        <script type="text/javascript">
            var username = "{{ php._SESSION.user.username }}";
            var sitename = "{{ php._SESSION.siteName }}";
            var login_time = "{{ php._SESSION.user.login_time }}";
        </script>

        <script type="text/javascript" src="/assets/js/lib/head.js"></script>
        <script>
            var __globals__ = {};
            var spinner = {};
            head.load('/assets/js/lib/spin.min.js', function(){
                var opts = {
                    lines: 13 // The number of lines to draw
                    , length: 9 // The length of each line
                    , width: 3 // The line thickness
                    , radius: 9 // The radius of the inner circle
                    , scale: 1 // Scales overall size of the spinner
                    , corners: 1 // Corner roundness (0..1)
                    , color: '#FFF' // #rgb or #rrggbb or array of colors
                    , opacity: 0.5 // Opacity of the lines
                    , rotate: 0 // The rotation offset
                    , direction: 1 // 1: clockwise, -1: counterclockwise
                    , speed: 1 // Rounds per second
                    , trail: 60 // Afterglow percentage
                    , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                    , zIndex: 2e9 // The z-index (defaults to 2000000000)
                    , className: 'spinner' // The CSS class to assign to the spinner
                    , top: '50%' // Top position relative to parent
                    , left: '50%' // Left position relative to parent
                    , shadow: false // Whether to render a shadow
                    , hwaccel: false // Whether to use hardware acceleration
                    , position: 'absolute' // Element positioning
                };

                var target = document.getElementById('pageLoading')
                spinner = new Spinner(opts).spin(target);
            });
        </script>
        <script type="text/javascript" src="/assets/js/portal.js"></script>
    </head>
    <body>
        <div id="pageLoading">
            <span>Please wait...</span>
        </div>
        <div id="wrap" ng-controller="portalController">



