@themeColor: #d2212a;
@vWhite: #fff;
@vGray: #313944;
@submenuBG: #2a313b;
@vltGray: #8b8f9e;
@navActive: @themeColor;
@headerFooter: #dcdde2;
@bg: #eff1fe;

@downloadBtn:#e4813f;
@vGreen:#7bae51;
@uploadBtn:#7bae51;
@dangerBtn: #d2212a;
@defaultBtn:@vltGray;


@import "partials/_login";
@import "partials/_shell";
@import "partials/_widgets";
@import "partials/_nodeBrowser";
@import "partials/_wizard.less";
@import "partials/_userAdmin.less";
@import "partials/_help.less";
@import "partials/_dropzone.less";

@import "../fonts/osans.css";



h1 {
	font-size: 24px;
	color: @vGray;
}

h2 {
	font-size: 24px;
}

h3{
	font-size: 21px;
}

h5 {
	font-size: 14px;
	font-family: 'OpenSansLightRegular', sans-serif;
	text-shadow: none !important;
	letter-spacing: 1px;
}


.btn {
	background-image: none;
	border-radius: 0;
	font-family: 'OpenSansSemiboldRegular', sans-serif;
	height: 32px;
	font-size: 14px;
	border: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:none;

	.glyphicon {
		margin-right: 122px;
	}
	.fa{
		color:white;
		margin-right: 12px;
	}
}

.btn::-moz-selection,
.btn::selection{
	background-color: transparent;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
	background-color: @defaultBtn;
	color: white;
	margin: 0 5px;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus {
	background-color: @dangerBtn;
	color: white;
}

.btn-download,
.btn-download:hover,
.btn-download:focus {
	background-color:@downloadBtn;
	color:white;
	margin: 0 5px;
}

.btn-save,
.btn-save:hover,
.btn-save:focus,
.btn-success,
.btn-success:hover,
.btn-success:focus {
	background-color:@uploadBtn;
	color:white;
	margin: 0 5px !important;
}


#UpdateSiteInfo{
	display: none;
}


input,
input[type="text"],
input[type="password"],
input[type="text"]:focus,
input[type="password"]:focus,
textarea,
.ui-autocomplete-input,
.uneditable-input {
	font-size: 14px;
	border-color: #cccccc;


}



input:read-only {
	background-color: @vltGray;
}

form {
	.form-control,
	#group-dropdown,
	textarea:-webkit-autofill,
	select:-webkit-autofill,
	input:-webkit-autofill {
		background-color: white;
		font-size: 14px;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	#message {
		color: @themeColor;
	}

	.fa.fa-exclamation-triangle {
		position: absolute;
		top: 9px;
		right: 6px;
		z-index: 200;
		color: @themeColor;
	}
}



textarea{
	resize: vertical;
}

select{
	border-radius: 0;
}

.btn-file,
.btn-file:hover{
	position: relative;
	overflow: hidden;
	margin-left:0;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}


input[readonly] {
	background-color: white;
}
input[disabled] {
	-webkit-box-shadow: @vltGray;
	box-shadow: @vGray;
}

.dropdown-toggle{
	/*box-shadow: @vGray;*/
	font-family: 'OpenSansBold', sans-serif;
}

.dropdown-menu{
	background-color: white;
	border: 1px #000 solid;
	margin-top: -1px;

	li{
		a{
			padding-left:12px;
		}
	}
}

.group-dropdown{
	height:34px;
	.dropdown-menu{
		border-color:#cccccc;
	}
}
#group-dropdown{
	color: @vGray;
	border-color: #cccccc;
}
#group-dropdown:disabled{
	color: @vGray;
	background-color: #eeeeee;
	border-color: #cccccc;
	opacity: 1;
 }



.input-group {
	display: table;

	.fa{
		opacity:0.6;
		/*color: @vGray;*/
	}

	.help-inline {
		position: absolute;
		top: 38px;
		left: 0;
		color: @themeColor;
	}
}

.input-group-addon {
	background-color: transparent;
	border-radius: 0;
	display: table-cell;
}
.input-prepend {
	width: 100%;
	text-align: left;
	margin-bottom: 2px;
}




.control-group {
	position: relative;
}

.control-group.error {
	.fa {
		display: block;
	}
}

.radio,
.checkbox{
	margin: 0 12px 0 0;
	display: inline-block;

	input[type="radio"]{
		position: relative;
		margin-left: 0;
	}
}

.fa {
	color: @vltGray;
	font-size: 18px;
}

.btn-group,
.btn-group.open:focus,
.btn-group.open {
	.dropdown-toggle,
	.dropdown-toggle:focus,
	.dropdown-toggle-key{
		/*box-shadow: none;
		-webkit-box-shadow: none;*/
		background-color: white;
		border: 1px #000 solid;
		/*padding: 0;*/
		text-align: left;
		padding-left: 12px;
		margin-top:px;
	}
}

#UserRoles_2{
	.btn{
		background-color: transparent;
		/*box-shadow: none;
		-webkit-box-shadow: none;*/
	}
}

.modal{
	text-align: center;

	.form-horizontal{
		display: inline-block;

		.upload-label{
			height: 32px;
			margin-top:10px;
			margin-left:0;
			background: transparent;
			border: none;
			box-shadow: none;
		}
		.control-label {
			padding-top: 7px;
		}
	}
}

.form-horizontal{
	.control-group{
		border: none;
	}
}



textarea:focus,
input[type]:focus,
input[type="textarea"]:focus,
select:focus {
	box-shadow: 0 0 5px @themeColor !important;
	border: 1px solid @themeColor !important;
}

.password-change{
	max-width: 200px;
}

.modal-content{
	border-radius: 0;
	display: inline-block;
	border: none;
	width: 100%;

	form{
		width: 100%;
	}

	.modal-header{
		height: 42px;
		background-color: @vGray;
		border: none;

		h3,
		h4{
			color:white;
			font-size: 20px;
			text-shadow:none;
			margin-top: 3px;
			font-weight:normal;
		}

		h4{
			margin-top:0;
		}
	}

	.modal-body{
		text-align: center;
		min-height: 120px;

		h1{
			line-height: inherit;
		}

		h3{
			font-size: 21px;
			line-height: inherit;
		}
		h4{
			font-size: 16px;
			font-family: OpenSansBold;
			span{
				color: @themeColor;
			}
		}

		p{
			font-size: 18px;
		}

		.select-control{
			margin: 0 auto;

			select{
				width: auto;
				display: inline-block;
			}
		}
	}

	.modal-footer{
		border-top: none;
		display: table;
		width: 100%;
		.btn{
			min-width: 116px;
		}
	}


	.dropdown{
		margin: 0 auto;
		WIDTH: 160px;
		left: 0;

		.dropdown-toggle{
			width: 160px;
			position: absolute;
			left: 0;

		}
		.dropdown-menu{
			margin: 0 auto;
			width: 160px;
			float: none;
			position: absolute;
			top: 32px;
		}
	}

	.modal-close{
		background-image: none;
		top: 9px;
		right: 0;

		.glyphicon{
			color:white;
			font-size: 20px;
		}
	}
}


.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	/*width: auto;*/
}

.bootbox-close-button,
.bootbox-close-button:hover {
	font-size: 24px;
	font-weight: normal;
	color: white;
	text-shadow: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

.bootbox{
	.modal-body{
		.bootbox-body{
			padding: 15px;
			font-size: 21px;
		}
	}
}

.avatar-modal {
	.modal-body{
		.bootbox-body{
			padding: 0;
			font-size: 14px;
		}
	}
}

#ProfilePicForm{
	text-align:center;

	.modal-dialog{
		width: 740px;
	}
}
