<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Slot" class="col-sm-5 control-label">Slot:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Slot" ng-model="vm.form.Slot" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="CardType" class="col-sm-5 control-label">Card Type:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="CardType" ng-model="vm.form.CardType" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="InterfaceNum" class="col-sm-5 control-label">Interface Num:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="InterfaceNum" ng-model="vm.form.InterfaceNum" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Device" class="col-sm-5 control-label">Device:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Device" ng-model="vm.form.Device" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="MIC" class="col-sm-5 control-label">MIC:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MIC" ng-model="vm.form.MIC" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

