{% extends "html/partials/base.html.twig" %}
{% block content %}

<script>
    head.ready(["jquery", "datatables_editor"], function () {
        var help_context = {{ php._SESSION.help.context }};
        //alert({{ php._SESSION.help.context }});
    });
</script>

<div id="content">
    <div id="content-header">
		<div class="tab-content">
		    <div class="controls">
			    <div class="btn-toolbar row-fluid">
				    <div class="btn-group">
					    <div class="sub-group pull-left">
						    <h1>Node Browser</h1>
					    </div>
					    <div id="key-dropdown" class="dropdown sub-group pull-right">
						    <button id="dropdown-toggle-key" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Legend
                                <span class="caret"></span>
                            </button>
						    <ul class="dropdown-menu key-dropdown-menu" role="menu" aria-labelledby="dropdown-toggle-key">
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/gen1.png">1 Gen</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/gen1.5.png">1.5 Gen</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/gen2.png">2 Gen</li>
                                                            <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/gen3.png">3 Gen</li>
							    <li class="divider"></li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Staging-Equipment.png">Staging Equipment</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Install_ASync-Verification.png">Install/Async Verification</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Site-Visit_Base-Config.png">Site Visit/Base Config</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Node-Device-Config.png">Node Device Config</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Network-Verification.png">Network Verification</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Failover-Complete-25.png">25% Failover Complete</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Failover-Complete-50.png">50% Failover Complete</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Failover-Complete-75.png">75% Failover Complete</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Failover-Complete-100.png">100% Failover Complete</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Call-Through-Testing.png">Call Through Testing</li>
                                                            <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Released-to-ISNTS.png" draggable="false">Released to ISNTS</li>
							    <li class="data_drop"><img src="/assets/images/Nodes/icons-legend/Accepted-by-ISNTS.png" draggable="false">Accepted by ISNTS</li>
						    </ul>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>

    <div id="multi">
        <div class="container-fluid tile" >
            <div class="tile__list">

	            {% if (filter == "Production") or (filter == "") %}
                <div class="row-fluid node-hopper">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>Production (processing live traffic)</h5>
                            <div class="bar-menu">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" data-toggle="collapse" data-target="#hopper-prod" aria-expanded="false" aria-controls="hopper-prod"></span>
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true" data-toggle="collapse" data-target="#hopper-prod" aria-expanded="true" aria-controls="hopper-prod"></span>
                                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div id="hopper-prod" class="collapse in">






                            <div class="widget-content tab-content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="quick-actions-horizontal">
                                            {% for node in prod %}
                                            <li>
                                                <a href="/node/{{ node.SiteName|lower }}">
	                                                <img src="/assets/images/Nodes/Icons/{{ node.SiteState }}-{{ node.GenType }}.png" />
                                                    <span>{{ node.SiteName }}</span>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

				{% if (filter == "Production-Add-VSN") or (filter == "") %}
				    <div class="row-fluid node-hopper">
				        <div class="widget-box">
				            <div class="widget-title">
					            <h5>Production (adding a VSN)</h5>
					            <div class="bar-menu">
						            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" data-toggle="collapse" data-target="#hopper-prodVSN" aria-expanded="false" aria-controls="hopper-prodVSN"></span>
						            <span class="glyphicon glyphicon-menu-left" aria-hidden="true" data-toggle="collapse" data-target="#hopper-prodVSN" aria-expanded="true" aria-controls="hopper-prodVSN"></span>
						            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
					            </div>
				            </div>
				            <div id="hopper-prodVSN" class="collapse in">
					            <div class="widget-content tab-content">
						            <div class="row-fluid">
							            <div class="span12">
								            <ul class="quick-actions-horizontal">
									            {% for node in prodAddVSN %}
										            <li>
											            <a href="/node/{{ node.SiteName|lower }}">
	                                                        <img src="/assets/images/Nodes/Icons/{{ node.SiteState }}-{{ node.GenType }}.png" />
												            <span>{{ node.SiteName }}</span>
											            </a>
										            </li>
									            {% endfor %}
								            </ul>
							            </div>
						            </div>
					            </div>
				            </div>
				        </div>
				    </div>
				{% endif %}

				{% if (filter == "Pre-Production") or (filter == "") %}
				    <div class="row-fluid node-hopper">
				        <div class="widget-box">
				            <div class="widget-title">
					            <h5>Pre-Production (no live traffic)</h5>
					            <div class="bar-menu">
						            <span class="glyphicon glyphicon-menu-down" aria-hidden="true" data-toggle="collapse" data-target="#prodNoTraffic" aria-expanded="false" aria-controls="prodNoTraffic"></span>
						            <span class="glyphicon glyphicon-menu-left" aria-hidden="true" data-toggle="collapse" data-target="#prodNoTraffic" aria-expanded="true" aria-controls="prodNoTraffic"></span>
						            <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
					            </div>
				            </div>
				            <div id="prodNoTraffic" class="collapse in">
					            <div class="widget-content tab-content">
						            <div class="row-fluid">
							            <div class="span12">
								            <ul class="quick-actions-horizontal">
									            {% for node in prodNoTraffic %}
										            <li>
											            <a href="/node/{{ node.SiteName|lower }}">
                                                            <img src="/assets/images/Nodes/Icons/{{ node.SiteState }}-{{ node.GenType }}.png" />
												            <span>{{ node.SiteName }}</span>
											            </a>
										            </li>
									            {% endfor %}
								            </ul>
							            </div>
						            </div>
					            </div>
				            </div>
				        </div>
				    </div>
				{% endif %}
                {% if (filter == "Lab") or (filter == "") %}
                <div class="row-fluid node-hopper">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>Lab</h5>
                            <div class="bar-menu">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true" data-toggle="collapse" data-target="#hopper-lab" aria-expanded="false" aria-controls="hopper-lab"></span>
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true" data-toggle="collapse" data-target="#hopper-lab" aria-expanded="true" aria-controls="hopper-lab"></span>
                                <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div id="hopper-lab" class="collapse in">
                            <div class="widget-content tab-content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="quick-actions-horizontal">
                                        {% for node in lab %}
                                            <li>
                                                <a href="/node/{{ node.SiteName|lower }}">
                                                    <img src="/assets/images/Nodes/Icons/{{ node.SiteState }}-{{ node.GenType }}.png" />
                                                    <span>{{ node.SiteName }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                {% endif %}

                {% if php._SESSION.role == 'JMA-Admin' or php._SESSION.role == 'VZ-Admin' %}
                    {% if (filter == "Deactivated") or (filter == "") %}
                        <div class="row-fluid node-hopper">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <h5>Decommission</h5>
                                    <div class="bar-menu">
                                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true" data-toggle="collapse" data-target="#hopper-deactivated" aria-expanded="false" aria-controls="hopper-deactivated"></span>
                                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true" data-toggle="collapse" data-target="#hopper-deactivated" aria-expanded="true" aria-controls="hopper-deactivated"></span>
                                        <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div id="hopper-deactivated" class="collapse in">
                                    <div class="widget-content tab-content">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <ul class="quick-actions-horizontal">
                                                    {% for node in deactivated %}
                                                    <li>
                                                        <a href="/node/{{ node.SiteName|lower }}">
                                                            <img src="/assets/images/Nodes/{{ node.GenType }}.png" />
                                                            <span>{{ node.SiteName }}</span>
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="help-overlay" ng-init="init('browser')" ng-controller="helpController" >
    <button ng-repeat="tip in helpData track by $index"
            type="button"
            data-container="body"
            class="spot"
            ng-class="['spot node-tip' + $index]"
            ng-click="spotClicked($event, $index)"
            data-toggle="popover"
            data-popover-trigger="focus"
            data-popover-placement="{% raw %} {{ tip.placement }} {% endraw %}"
            data-popover-template="'components/help/helpPopover.html'"
            >
        {% raw %}{{ $index + 1 }}{% endraw %}
    </button>
</div>
{% endblock %}
