<div class="help-tip" data-index="1">
	<h4>{{ tip.label }}</h4>
	<p>{{ tip.content }}</p>
	<div class="tip-menu">
		<button id="exitBtn" ng-click="exitHelp($event)" class="btn btn-link">Exit Tutorial</button>
		<button ng-click="nextTip($event)" ng-class="{disabled: currentTip==helpData.length-1}" ng-disabled="currentTip == helpData.length-1" class="btn btn-link pull-right ">Next</button>
		<button ng-click="previousTip($event)" ng-class="{disabled: currentTip==0}" ng-disabled="currentTip < 1" class="btn btn-link previous-tip pull-right " >Previous</button>
	</div>
</div>