<div class="role_scope">
    <div class="alert alert-danger" ng-if="vm.errorMessage">
        {{vm.errorMessage}}
    </div>
    <div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Description</th>
                    <th style="width:1%" >&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form role="form" ng-submit="vm.addGroup()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="add a new group" ng-model="vm.newGroup.group_name" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="add a new group description" ng-model="vm.newGroup.group_description" />
                    </div>
                    </form>
                </td>
                <td style="width:1%">
                    <button id="newRole" type="button" ng-click="vm.addGroup()" ng-disabled="vm.newGroup.group_name.length == 0 && vm.newGroup.group_description.length == 0"
                            class="btn btn-success pull-right">
                        <i class="fa fa-plus"></i>New
                    </button>
                </td>
            </tr>
            <tr ng-repeat="row in vm.groups track by $index">
                <td>
                    <a href="#" editable-text="row.group_name" onaftersave="vm.save(row)">{{ row.group_name || "add name" }}</a>
                </td>
                <td>
                    <a href="#" editable-text="row.group_description" onaftersave="vm.save(row)">{{ row.group_description || "add description" }}</a>
                </td>
                <td style="width:1%" class="text-center">
                    <span class="delete-btn">
                        <i class="fa fa-trash-o fa-2x" ng-click="vm.deleteGroup(row)"
                           tooltip="Delete"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--
<div id="t_roles" class="tab-pane">
    <div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-4 col-md-2 row-offset grid-align">
                                &lt;!&ndash; Show/Hide Column Functionality &ndash;&gt;
                                <div
                                        isteven-multi-select
                                        input-model="vm.multiSelectColumns"
                                        output-model="vm.shownColumns"
                                        button-label="name"
                                        item-label="name"
                                        tick-property="ticked" ,
                                        output-properties="field" ,
                                        max-labels="1" ,
                                        search-property="name" ,
                                        helper-elements="" ,
                                        on-item-click="vm.toggleGridColumns(data)">
                                </div>
                            </div>
                            <div class="col-md-3 ow-offset grid-align">
                                &lt;!&ndash; Search &ndash;&gt;
                                                <span class="searchicon">
                                                    <input ng-model="vm.userFilterValue" class="form-control"
                                                           name="search"
                                                           placeholder="Search within this selection"/>
                                                </span>
                            </div>
                            <div class="grid-actions">
                                <div class="grid-align">
                                    <button id="newUser" type="button"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-user-plus"></i>New
                                    </button>
                                    <span class="pull-right delete-btn" ng-if="vm.displayDeleteBtn">
                                        <i class="fa fa-trash-o fa-2x" ng-click="vm.deleteRows()"
                                           tooltip="Delete"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div cg-busy="vm.loadingPromise">
                                <div ui-grid-selection ui-grid-pagination ui-grid-edit
                                     ui-grid="vm.options"
                                     class="grid"></div>
                            </div>
                            &lt;!&ndash; TODO: this will need to be removed &ndash;&gt;
                            <div style="display:none;" class="custom-csv-link-location">
                                <label>Your CSV will show below:</label>
                                <span class="ui-grid-exporter-csv-link">&nbsp</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
