.role_scope {
  table {
    thead {
      background-color:white !important;
      th {
        color: black !important;
      }
    }
  }
  .editable-input.editable-has-buttons {
    width:100%;
  }
}