Thanks for signing up!
Your account has been created, you can login with the following credentials after you have activated your account by pressing the url below.


------------------------
Username: {{ username }}
Password: {{ temp_password }}
------------------------

Please visit this link to activate your account:

{{ activate_url }}


Thank You,
{{ constant('APP_NAME') }} Team