<b>Thanks for signing up!</b><br>
Your account has been created, you can login with the following credentials after you have activated your account by pressing the url below.
<br><br><b>
------------------------ <br>
Username: {{ username }} <br>
Password: {{ temp_password }} <br>
------------------------ <br>
</b><br>
Please click this link to activate your account:
<br><br>
<a href='{{ activate_url }}'>{{ activate_url }}</a>
<br><br>
Thank You,<br>
{{ constant('APP_NAME') }} Team

