<b>VoIP Data Management Portal Password Recovery</b><br>
Your password has been reset. You can use the credentials below to log in. We recommend changing your password from the profile page once you log in.
<br><br><b>
------------------------ <br>
Username: {{ username }} <br>
Password: {{ temp_password }} <br>
------------------------ <br>
</b><br>
Please click this link to log in:<br>
<br>
<a href='http://{{ php._SERVER.SERVER_NAME }}/'>http://{{ php._SERVER.SERVER_NAME }}/</a> <br>
<br>
Thank You,<br>
{{ constant('APP_NAME') }} Team
