VoIP Data Management Portal Password Recovery
Your password has been reset. You can use the credentials below to log in. We recommend changing your password from the profile page once you log in.

------------------------
Username: {{ username }}
Password: {{ temp_password }} $temp_password
------------------------

Please click this link to log in:

http://{{ php._SERVER.SERVER_NAME }}/

Thank You,
{{ constant('APP_NAME') }} Team
