<style>
	#card4 {
		width:100%;
		height:100%;
	}
</style>
<div id="card4"> 
  <div class="front"> 
    <img class="avgBuildDays" src="/assets/images/dashboard/AvgBuildDays1.jpg" />
  </div> 
  <div class="back">
    <img class="avgBuildDays" src="/assets/images/dashboard/AvgBuildDays2.jpg" />
  </div> 
</div>