<style>
	#card3 {
		width:100%;
		height:100%;
	}
</style>
<div id="card3"> 
  <div class="front"> 
    <img class="timeline" src="/assets/images/dashboard/Timeline1.jpg" />
  </div> 
  <div class="back">
    <img class="timeline" src="/assets/images/dashboard/Timeline2.jpg" />
  </div> 
</div>