<style>
	#card {
		width: 100%;
		height:100%;
	}
</style>
<div id="card"> 
  <div class="front"> 
    <img src="/assets/images/dashboard/Notes1.jpg" />
  </div> 
  <div class="back">
    <img src="/assets/images/dashboard/Notes2.jpg" />
  </div> 
</div>