<style>
	.topNodeStates {
		width: 485px;
    	height: 197px;
	}
	#card2 {
		width:100%;
		height:100%;
	}
</style>
<div id="card2"> 
  <div class="front"> 
    <img class="topNodeStates" src="/assets/images/dashboard/TopNodeStates1.jpg" />
  </div> 
  <div class="back">
    <img class="topNodeStates" src="/assets/images/dashboard/TopNodeStates2.jpg" />
  </div> 
</div>