<div>
    <nav class="navbar navbar-default navbar-light" role="navigation">
        <div class="container-fluid" id="sectionNav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-parent="#sectionNav" data-target="#toolbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="toolbarCollapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active-eq="active" class="item active"><a ui-sref=".users"><i class="fa fa-user"></i>Users</a>
                    </li>
                    <li ui-sref-active-eq="active" class="item"><a ui-sref=".groups"><i
                            class="fa fa-users"></i>Groups</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view=""></div>
</div>