/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* scroll to top button in the footer */
.scrollup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
}

.scrollup:hover {
    cursor: pointer;
}

.scrollup > icon {
    color: #0080ff;
    font-size: 50px;
}

/* ----------------------------------
* End of Footer **/

/* Site Wizard classes for labels and inputs
-------------------------------------------- */
.wizard-input {
    float: left;
    width: 55%;
}
.wiz-input-table{
    float: left;
    margin-bottom: 0 !important;
    padding: 0 !important;
    width: 100%;
}
.wizard-label{
    float: left;
    margin-top: 3px;
    margin-bottom: 5px;
    padding-top: 2px;
    width: 35%;
}

#wizard-accordion .row-fluid .span12 {
    margin-bottom:  0px;
}

/* ----------------------
 End of Wizard classes */

/* These class elements apply to any table to allows for static column widths */
.fixed-table{
    clear: both;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}
/* Datatables
------------------------------------------------- */
/* Class used for datatables grouping of rows to
    highlight the group row */
.group {
    background-color: #444444 !important;
    color: white;
}
/* odd table rows */
.odd {
    background-color: #ededed;
}
/* The next classes are part of the header buttons in datatables,
and used to clean up the look.  */
.ColVis_radio {
    float: left;
}

.ColVis_title {
    float: left;
    padding-left: 10px;
}

.ColVis {
    float: left;
    margin-top: 3px;
    margin-right: 12px;
    margin-left: 3px;
}

.DTTT_button {
    position: relative;
    margin-right: 12px;
}

.DTTT_button_delete {
    margin-right: 7px;
}

.DTTT_container {
    float: left;
    margin-top: 3px;
}

.table-header {
    position: static;
    padding-right: 3px;
    width: 100%;
    height: 29px;
}

.dataTables_info {
    float: right;
    margin-top: 7px;
    margin-right: 0px;
    color: #878787;
    font-size: 14px;
}

.DTTT_selected {
    background-color: #444444 !important;
    color: white;
}
/* Class used for datatables "print" popup */
.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
    padding: 10px 30px;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ffffff; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    color: #333;
    text-align: center;
    opacity: 0.95;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
/* Hides the detail rows of datatables with 'drill-down rows' so jquery can handle it's display */
div.innerDetails {
	display: none;
}

.dataTables_filter input {
    margin-left: 5px;
    border-radius: 0;
}

.dataTables_filter input:focus {
    border: 1px solid rgba(200, 200, 200, 1);
    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
}
/* CSS fix for the custom field type in editor, the tagField */
div.DTE_Field_Type_tagField input {
    padding: 3px;
    width: 100%;
    margin: 0px;
}
/* Dropdown button collections needed some tweaking */
.dd-button {
    margin-top: 5px;
}
.DTTT_collection_background {
    background-color: black;
}


/* VSN Highlighting classes for datatables rows */
.base {
    /* nothing here, because base shouldn't have any highlight color. */
}
.broadsoft {
    background-color: rgba(133, 165, 248, .5);
}
.dscip {
    background-color: rgba(250, 106, 95, .5);
}
.genband {
    background-color: rgba(249, 191, 132, .5);
}
.ip-ivr {
    background-color: rgba(250, 121, 190, .5);
}
.ipac {
    background-color: rgba(233, 245, 80, .5);
}
.iscip {
    background-color: rgba(185, 118, 255, .5);
}
.nsrs {
    background-color: rgba(249, 196, 182, .5);
}
.occas {
    background-color: rgba(200, 107, 0, .5);
}
.pip-nni {
    background-color: rgba(142, 243, 118, .5);
}
.sida {
    background-color: rgba(66, 143, 255, .5);
}

/*
* End Datatables
* */

/*
**   Navigation
*/
.nav .dropdown-toggle .caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.nav .dropdown-toggle .caret:hover {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-pills {
    margin: 5px;
}

.nav-pills  a, .nav-pills  a:hover, .nav-pills  a:focus {
    border: 1px solid #000000;
    color: #333333;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #000000;
    color: #ffffff;
}

/* widget tab dropdown menu color fix */
.widget-title .nav-tabs li.data_drop.active a {
    color: #ffffff;
}

div.modal-close {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 12;
    width: 30px;
    height: 30px;
    background: url('/assets/images/close.png') no-repeat top left;
    cursor: pointer;
}

/*
**  Thumbnails for site photos
*/
.vzp-thumb {
    margin-bottom: 25px;
    word-wrap: break-word;
}

.image-thumb, .image-thumb img {
  position:relative;
}



/*
**  Font awesome sizing
*/
.fa-2 {
  font-size: 2em;
}

.fa-3 {
  font-size: 4em;
}

.fa-4 {
  font-size: 7em;
}

.fa-5 {
  font-size: 12em;
}

.fa-6 {
  font-size: 20em;
}

.fa-7 {
  font-size: 32em;
}

/*
** Node Browser page items
*/
.quick-actions-horizontal {
    text-align: left;
}
.quick-actions-horizontal li {
    /*width: 6em;*/
    box-shadow: 0 0 0 0px;
    background-color: #999999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(153, 153, 153)), to(rgb(68, 68, 68)));
    background-image: -webkit-linear-gradient(top, rgb(153, 153, 153), rgb(68, 68, 68));
    background-image: -moz-linear-gradient(top, rgb(153, 153, 153), rgb(68, 68, 68));
    background-image: -o-linear-gradient(top, rgb(153, 153, 153), rgb(68, 68, 68));
    background-image: -ms-linear-gradient(top, rgb(153, 153, 153), rgb(68, 68, 68));
    background-image: linear-gradient(top, rgb(153, 153, 153), rgb(68, 68, 68));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#999999', EndColorStr='#444444');
}
.quick-actions-horizontal li a {
    color: #ffffff;
    text-shadow: 0 1px 0 #666666;
}
.quick-actions-horizontal li:hover {
    background-color: #999999;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#767676), to(#444444));
    background-image: -webkit-linear-gradient(top, #767676 0%, #444444 100%);
    background-image: -moz-linear-gradient(top, #767676 0%, #444444 100%);
    background-image: -ms-linear-gradient(top, #767676 0%, #444444 100%);
    background-image: -o-linear-gradient(top, #767676 0%, #444444 100%);
    background-image: linear-gradient(top, #767676 0%, #444444 100%);
}
.quick-actions-horizontal li:active {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#5a5a5a), to(#444444));
    background-image: -webkit-linear-gradient(top, #5a5a5a 0%, #444444 100%);
    background-image: -moz-linear-gradient(top, #5a5a5a 0%, #444444 100%);
    background-image: -ms-linear-gradient(top, #5a5a5a 0%, #444444 100%);
    background-image: -o-linear-gradient(top, #5a5a5a 0%, #444444 100%);
    background-image: linear-gradient(top, #5a5a5a 0%, #444444 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}



/*
** Extras and one-offs for the rest of the document.
*/

#content-header {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FFFFFF), to(#EEEEEE));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
    border-top-left-radius: 8px;
    min-height: 40px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;

    z-index: 20;
}

h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
}


#btn_edit_siteinfo {
    margin-top: 5px;
}

.upload-message {
    color: #ff0000;
    font-size: 2em;
}

.accordion-heading,
.accordion-toggle {
border: solid 1px #999999;
}

.p10 {
   /* padding: 10px;*/
}

.force-border {
    border: 1px solid #dddddd !important;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=password]:focus,
textarea:focus {
    border: 1px solid #000000;
    box-shadow: 0 0 5px #c0c0c0;
}

.lr-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


/* aligns the top right buttons for inside a header */
.header-btn {
    margin-top: 15px;
    margin-right: 20px;
}

/* simple text indention class */
.text-indent {
    text-indent: 50px;
}
/* allows for larger modals */
.modal-body {
    max-width: 800px;
    max-height: 800px;
    min-height: 160px;
}
/* used to clear box shadow on file upload input boxes */
.clear-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ID used for error messages on user interface forms */
#message {
     color: red;
 }
/* Used to clear margins. */
.nomargins {
    margin: 0 !important;
}
/* Used to clear margins on input forms for checkboxes */
label > span > input[type="checkbox"] {
    margin: 0 0 0 0;
}
/*Big Modal*/
.bigModal{
    margin-left:-270px;
    width:700px;
}

/* Autocomplete menu */
.ui-autocomplete {
    width: 400px;
    overflow: hidden;
    position: fixed;
}

/* Header resizing */
#header h1 {
    width: auto;
    left: 3px;
    top: 10px;
}

#info-message {
    color: darkgreen;
    font-weight: bold;
}


.ui-buttonset .ui-button{
    margin-right: 12px;
}