<div id="content" class="ng-cloak">
    <div id="content-header">
        <div class="row-fluid">
            <br/>
            <a href="#/admin/users">User Management</a>
            <br/>
            <h3>{{vm.header}}</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-content nopadding">
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>