<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">MX:</label>
                        <div class="col-sm-6">
                            <select id="MX" ng-model="vm.form.MX">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Interface" class="col-sm-5 control-label">Interface:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Interface" ng-model="vm.form.Interface" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SubInterface" class="col-sm-5 control-label">Sub Interface:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SubInterface" ng-model="vm.form.SubInterface" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="InterfaceTag" class="col-sm-5 control-label">Interface Tag:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="InterfaceTag" ng-model="vm.form.InterfaceTag"
                                   required=""
                                   typeahead="Tag for Tag in vm.getMasterTags($viewValue)"
                                   typeahead-loading="loadingInterfaceTags"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="10"/>
                            <i ng-show="loadingInterfaceTags" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PortType" class="col-sm-5 control-label">Port Type:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="PortType" ng-model="vm.form.PortType" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Layer" class="col-sm-5 control-label">Layer:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Layer" ng-model="vm.form.Layer" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSNInstance" class="col-sm-5 control-label">VSN Instance:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="VSNInstance" ng-model="vm.form.VSNInstance" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="ConnectedDeviceType" class="col-sm-5 control-label">Connected Device Type:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ConnectedDeviceType" ng-model="vm.form.ConnectedDeviceType" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="ConnectedDeviceName" class="col-sm-5 control-label">Connected Device Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ConnectedDeviceName" ng-model="vm.form.ConnectedDeviceName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="ConnectedDevicePort" class="col-sm-5 control-label">Connected Device Port:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ConnectedDevicePort" ng-model="vm.form.ConnectedDevicePort" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="AddressTag" class="col-sm-5 control-label">Address Tag:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="AddressTag" ng-model="vm.form.AddressTag"
                                   required=""
                                   typeahead="Tag for Tag in vm.getMasterTags($viewValue)"
                                   typeahead-loading="loadingAddressTags"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="10"/>
                            <i ng-show="loadingAddressTags" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="IPAddress" class="col-sm-5 control-label">IP Address:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="IPAddress" ng-model="vm.form.IPAddress" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VLANTag" class="col-sm-5 control-label">VLAN Tag:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="VLANTag" ng-model="vm.form.VLANTag" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SpeedDuplex" class="col-sm-5 control-label">Speed Duplex:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SpeedDuplex" ng-model="vm.form.SpeedDuplex" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="DescriptionTag" class="col-sm-5 control-label">Description Tag:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="DescriptionTag" ng-model="vm.form.DescriptionTag"
                                   required=""
                                   typeahead="Tag for Tag in vm.getMasterTags($viewValue)"
                                   typeahead-loading="loadingDescriptionTags"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="10"/>
                            <i ng-show="loadingDescriptionTags" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="Description" rows="5" ng-model="vm.form.Description" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="LastUpdated" class="col-sm-5 control-label">Last Updated:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastUpdated" ng-model="vm.form.UpdatedTime" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="EditedBy" class="col-sm-5 control-label">Last Edited By:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="EditedBy" ng-model="vm.form.EditedBy" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Comment" class="col-sm-5 control-label">Comment:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="Comment" rows="5" ng-model="vm.form.Comment" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button for="Description" class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button for="Description" class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

