<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="NodeDevice" class="col-sm-5 control-label">Node Device:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NodeDevice" ng-model="vm.form.NodeDevice" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="NodeInterface" class="col-sm-5 control-label">Node Interface:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NodeInterface" ng-model="vm.form.NodeInterface" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="InterfaceTag" class="col-sm-5 control-label">Interface Tag:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="InterfaceTag" ng-model="vm.form.InterfaceTag" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteDeviceName" class="col-sm-5 control-label">Remote Device Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteDeviceName" ng-model="vm.form.RemoteDeviceName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Network" class="col-sm-5 control-label">Network:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Network" ng-model="vm.form.Network" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Speed" class="col-sm-5 control-label">Speed:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Speed" ng-model="vm.form.Speed" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteDeviceType" class="col-sm-5 control-label">Remote Device Type:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteDeviceType" ng-model="vm.form.RemoteDeviceType" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteDeviceInt" class="col-sm-5 control-label">Remote Device Int:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteDeviceInt" ng-model="vm.form.RemoteDeviceInt" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteDeviceCircuit" class="col-sm-5 control-label">Remote Device Circuit:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteDeviceCircuit" ng-model="vm.form.RemoteDeviceCircuit" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="Description" rows="5" ng-model="vm.form.Description" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button  class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button  class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

