<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FNo" class="col-sm-5 control-label">FNo:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FNo" ng-model="vm.form.FNo" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FId" class="col-sm-5 control-label">FId:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FId" ng-model="vm.form.FId" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FromZone" class="col-sm-5 control-label">FromZone:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FromZone" ng-model="vm.form.FromZone" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Source" class="col-sm-5 control-label">Source:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Source" ng-model="vm.form.Source" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="ToZone" class="col-sm-5 control-label">ToZone:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ToZone" ng-model="vm.form.ToZone" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Destination" class="col-sm-5 control-label">Destination:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Destination" ng-model="vm.form.Destination" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Service" class="col-sm-5 control-label">Service:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Service" ng-model="vm.form.Service" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="FWAction" class="col-sm-5 control-label">FWAction:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FWAction" ng-model="vm.form.FWAction" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="InstallOn" class="col-sm-5 control-label">InstallOn:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="InstallOn" ng-model="vm.form.InstallOn" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RuleOptions" class="col-sm-5 control-label">RuleOptions:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RuleOptions" ng-model="vm.form.RuleOptions" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



