<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Serial" class="col-sm-5 control-label">Serial:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Serial" ng-model="vm.form.Serial" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Bay" class="col-sm-5 control-label">Bay:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Bay" ng-model="vm.form.Bay" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Hostname" class="col-sm-5 control-label">Hostname:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Hostname" ng-model="vm.form.Hostname" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="ASYNC" class="col-sm-5 control-label">ASYNC:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="ASYNC" ng-model="vm.form.ASYNC" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="Description" rows="5" ng-model="vm.form.Description" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

