<div id="avatar-editor" ng-controller="imageCropperController">
	<form id="ProfilePicFormModal" enctype="multipart/form-data" action="/upload-profile-image" method="POST">
		<div id="profilePicContainer" class="col-md-7">
			<div id="crop-area">
				<img-crop class="img-crop" image="origImage" result-image="croppedImage" change-on-fly="true" ></img-crop>
			</div>
			<!--{#{% if image == 0 %}-->
				<!--<img id="profilePic" src="/assets/images/vzportal/user_image.png" alt="No image">-->
			<!--{% else %}
				<img id="profilePic" class="img-responsive" src="{{ php._SESSION.rules.ProfileImageUpload }}{{ image }}" alt="{{ image }}">
			{% endif %}#}-->
		</div>
		<div id="preview-image" class="col-md-5">
			<div class="croppedImage">
				<img ng-src="{{ croppedImage }}" />
			</div>

			<h4>Image preview</h4>
			<span>Image format: {{ php._SESSION.rules.ProfileImageExt }}</span><br>
			<span>Image size: {{ php._SESSION.rules.ProfileImageSize }}.</span>
			<div class="error-msg" id="error-msg"></div>

			<div class="controls">
				<!--{#Select an image file: #}-->
				<input type="hidden" name="action" id="mod-action" value="upload">
				<button class="btn btn-default btn-file">
					<input type="file" id="fileInput" name="fileToUpload" accept="image/gif, image/jpeg, image/png" />
					Select File
					<!--{#<i class="fa fa-paperclip"></i>#}
					{#<input id="mod-fileToUpload" type="file" name="fileToUpload" >#}
					{#<input type="text" name="photo-label" class="form-control upload-label" readonly="" disabled>#}-->
				</button>
				<button id="mod-upload-button" class="btn btn-success" type="submit">Save</button>
			</div>
			<!--{# {% if image == 0 %}
			<img src="/assets/images/vzportal/user_image.png" alt="No image">
			{% else %}
			<img src="{{ php._SESSION.rules.ProfileImageUpload }}{{ image }}" alt="{{ image }}">
			{% endif %}#}-->
		</div>
	</form>
	<!--<p class="instructions">
		Click and drag on the image to select an area.
	</p>-->
</div>

<!--<form  id="ProfilePicForm" enctype="multipart/form-data" action="/upload-profile-image" method="POST">-->