.max-size{
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	color: @vltGray;
}

.dropzone{
	display: table;
}

.dropzone.dz-started {
	display: block;
	.dz-message{
		display: none !important;
	}
}

#dropzone{
	border: none;
	padding: 0;
	height: 90%;
	overflow: auto;

	.dz-message{
		display: table-cell;
		vertical-align: middle;
	}

	.dz-preview {
		display: block;
		min-height: initial;
		margin: 6px 0;

		.dz-details {
			position: relative;
			padding: 0 20px 0 6px;
			display: table;
			text-align: left;
			font-size: 14px;
			font-family: 'OpenSansSemiboldRegular', sans-serif;

			.fa,
			.dz-size,
			.dz-filename {
				display: inline;
			}

			.dz-size,
			.dz-filename {
				font-size: 14px;
				border: none !important;

				strong {
					font-weight: normal;
				}
			}

			.dz-filename span {
				border: none !important;
			}

			.dz-size:before {
				content: "(";
			}

			.dz-size:after {
				content: ")";
			}

			.dz-remove {
				display: inline;
			}

			.actions{
				margin-left: 12px;
			}

			.upload-status {
				display: inline;
				width: 120px;
				vertical-align: middle;
				float: right;

				.dz-progress {
					position: relative;
					height: 4px;
					margin: 0;
					background: #d7d7d9;
					left: 0;
					width: 100%;
					animation: none;
					-webkit-animation: none;

					vertical-align: middle;
					display: inline-block;

					.dz-upload {
						background: @vGreen;
					}
				}
			}

			.dz-errormessage{
				display:none;
				margin-right: 12px;
			}
		}
	}

	.dz-preview{
		.dz-success-mark,
		.dz-error-mark{
			display: none;
		}
	}

	.dz-success-mark,
	.dz-error-mark{
		position: relative !important;
		display: inline;
		top: initial;
		left: initial;
		right: initial;
		margin: 0;
		font-size: 20px;
	}
	.dz-success{
		.dz-error-mark{
			display: none !important;
		}

		.dz-success-mark {
			opacity:1;
			display: inline;

			.fa{
				color: @vGreen;
			}
		}

		.dz-remove{
			display: none !important;
		}
	}

	.dz-error {
		.upload-status{
			display: none !important;
		}

		.dz-success-mark {
			display: none !important;
		}

		.dz-error-mark {
			opacity:1;
			display: inline;

			.fa{
				color: @dangerBtn;
			}
		}
		.dz-remove{
			display: none !important;
		}

		.dz-errormessage{
			display: inline !important;
		}
	}
}

.upload-body{
	height: 420px;
}


.modal-status{
	display: table-cell;
	text-align: left;
	font-family: 'OpenSansSemiboldRegular', sans-serif;
}
