#help-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: rgba(0,0,0,0.5);*/
	z-index: 1000;
	display:none;

}
.help-btn{

}


.tooltip{

	.tooltip-inner{
		padding: 8px 24px;

		.help-tip{
			text-align: left;

			h4{
				font-family: 'OpenSansBold', sans-serif;
			}
			p{
				font-family: 'OpenSansRegular', sans-serif;
				color: @vltGray;
			}
		}
	}
}

.tooltip.in{
	opacity: 1;
}

.tooltip.right .tooltip-arrow{
	/*top: 15px;
	margin-top: 0;*/
	margin-top: -7px;
	border-width: 8px 8px 8px 0;

	border-right-color: white;
}

.tooltip.left .tooltip-arrow{
	border-left-color: white;
}

.spot{
	background-color: @themeColor;
	position: absolute;
	border-radius: 50%;
	font-family: 'OpenSansSemiboldRegular', sans-serif;
	width: 23px;
	height: 23px;
	text-align: center;
	border: none;
}

.spot,
.spot:hover,
.spot:active,
.spot:focus{
	color: white;
	text-decoration: none;
	/*padding:0;*/
	padding-top: 2px;
	/*border: none;*/
}
.spot.node-tip0{
	left: 206px;
	top: 158px;
}
.spot.node-tip1{
	right: 102px;
	/*right: 220px;*/
	top: 83px;
}
.spot.node-tip2{
	right: 102px;
	/*right: 136px;*/
	top: 158px;
}
.spot.node-tip3{
	left: 226px;
	top: 224px;
}
.spot.node-tip4{
	left: 184px;
	top: 269px;
	position: fixed;
}
.spot.node-tip5{
	left: 160px;
	top: 215px;
	position: fixed;
}









.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active{
	padding: 0;
	text-decoration: none;
	color: @themeColor;
}
.btn-link:disabled{
	color: @vGray;
}

.previous-tip{
	margin-right: 12px;
}