.login-page {
	background-image: url('../images/vzportal/lognin_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	left: 0;

	h1{
		font-family: 'OpenSansLightRegular', sans-serif;
	}

	a{
		font-family: 'OpenSansSemiboldRegular', sans-serif;
	}

	 .login-container {
		 display: table-cell;
		 vertical-align: middle;

		 .login-widget {
			 border: none;
			 background: transparent;
			 width: 604px !important;
			 height: 386px;
			 overflow: hidden;
			 display: block;
			 margin-left: auto;
			 margin-right: auto;

			 .widget-content {
				 padding: 0;
				 border: none;
				 height: 100%;
				 position: relative;

				 .widget-panel-left,
				 .widget-panel-right {
					 h1 {
					 }

					 .remember-helpers {
						 margin: 48px 0;
						 font-size: 12px;


						 .remember-link {
							 color: @vGray;
						 }
					 }
				 }

				 .widget-panel-left {
					 background-image: url('../images/vzportal/welcome.png');
					 width: 315px;
					 color: white;
					 height: 100%;
					 vertical-align: top;
					 position: absolute;
					 z-index: 100;

					 h1 {
						 color: white;
					 }
				 }
				 .widget-panel-right {
					 background: white;
					 overflow: hidden;
					 height: 100%;
					 vertical-align: top;
					 position: relative;
					 left: 315px;

					 .login-content,
					 .forgot-content {
						 display: inline-block;
						 padding: 0 24px;
						 width: 289px;
						 height: 386px;
						 vertical-align: top;

						 h1 {
							 margin: 54px 0 27px

						 }
					 }
				 }

				 .forgot-content {
					 font-size: 13px;
					 font-family: 'OpenSansRegular', sans-serif;

					 h1{
						margin: 66px 0 27px !important;
					 }

					 .controls{
						 height: 38px;
						 margin-top: 12px;
						 margin-bottom: 10px;
					 }

					 .login-back-btn {
						 cursor: pointer;
						 margin-top: 24px;
						 display: table;

						 .fa{
							 font-size: 28px;
							 padding-right: 8px;
							 display: table-cell;
							 vertical-align: middle;
						 }
						 h4{
							 display: table-cell;
							 vertical-align: middle;
						 }
					 }
				 }
			 }

			 .recover-fail {
				 margin-top: 4px;
				 color:@themeColor;
				 font-size:14px !important;
				 font-family: 'OpenSansRegular', sans-serif;
			 }

			 form {
				 .control-group{
					 .controls{
						 height: 38px;
                         margin-bottom: 30px;

						 .form-control{
							 padding-right: 30px;
                              border-left:none;
						 }
						 .user-message-fail,
						 .user-password-fail
						 {
							 margin-top: 4px;
							 color:@themeColor;
						 }
						 .fa.fa-exclamation-triangle{
							 display: none;
						 }
					 }
				 }
				 .control-group.error{
					 .controls{
						 .user-message-fail,
						 .user-password-fail{
							 .fa.fa-exclamation-triangle{
								 display: block;
							 }
						 }
					 }
				 }
				 .btn {
					 position: absolute;
					 bottom: 40px;
					 width: 241px;
					 height: 49px;
					 font-size: 18px;
					 background-color:@themeColor;
				 }
			 }
		 }
	 }
 }

#login-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.footer-content{
		width: 722px;
		height: 64px;
		margin: 0 auto;
		border-top: #d1d2d8 1px solid;

		.footer-text{
			margin-top: 10px;
			color: #d1d2d8;
			font-size: 10px;
			font-family: 'OpenSansLightRegular', sans-serif;

			span {
				color:white;
				font-family: OpenSansSemiboldRegular;
			}
			a,
			a:hover,
			a:visited{
				color: @themeColor;
				text-decoration: none;
			}
		}
	}
}

#login-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.footer-content{
		width: 722px;
		height: 64px;
		margin: 0 auto;
		border-top: #d1d2d8 1px solid;

		.footer-text{
			margin-top: 10px;
			color: #d1d2d8;
			font-size: 10px;
			font-family: 'OpenSansLightRegular', sans-serif;

			span {
				color:white;
				font-family: OpenSansSemiboldRegular;
			}
			a,
			a:hover,
			a:visited{
				color: @themeColor;
				text-decoration: none;
			}
		}
	}
}