#UpdateSiteInfo,
#AddVSN,
#CancelEdit,
#DeleteNode {
	display:none;
}

.vsn-list {
	display: inline-block;
	width: 70%;
	margin-bottom: 6px;

	.badge {
		font-family: 'OpenSansBold', sans-serif;

		.badge {
			padding: 5px 10px;
			font-size: 12px;
		}
	}
}
#modal_addVSN{
	.btn-group,
	h4{
		display: inline-block !important;
		margin: 0 6px;
	}
}

#siteDataControls{
	display:none;
}




form{
	.form-dropdown{
		width: 70%;

		.dropdown-toggle{
			font-family: 'OpenSans', sans-serif !important;
			font-weight: normal !important;
		}
		.dropdown-toggle:disabled{
			color: @vGray;
			background-color: #eeeeee;
			border-color: #cccccc;
			opacity: 1;
		}
		.dropdown-toggle:active,
		.dropdown-toggle::selection{
			background: white;
		}
	}
}