#wrap {

	#content {
		height: 100%;
		border-radius: 0;
		margin: 0;
	}

	.container-fluid{
		height: 100%;
		padding-bottom: 54px;
		display: block;

		.widget-box{
			height: 100%;
			margin-bottom: 0;

			.widget-content{
				/*height: 100%;*/
			}
		}
	}

	.fa-outdent{
		display:inline-block;
	}
	.fa-indent{
		display:none;
	}
}

#wrap.collapsed{
	margin-left: 57px;

	.fa-outdent{
		display:none;
	}
	.fa-indent{
		display:inline-block;
	}

	#sidebar{
		width: 57px;

		.v-logo{
			display: none;
		}
		.v-check{
			display: block;
		}

		.user-header{

			.user-avatar {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				padding-right: 1px;
				img {
					border-radius: 50%;
					margin-left: 0;
					width: 44px;
					height: 44px;

				}
			}
			#user-dropdown{
				display: none;
			}
		}
		#main-menu{
			width: 57px;
			border: 0;
			li {
				width: 57px;
				a {
					.sub-label {
						.fa {
							margin: 4px;
							margin-right: 12px;
							margin-left: 1px;
						}

						.tool-tip {
							width: auto !important;
						}
					}
					span {
						display: none;
					}

					.icon-caret {
						display: none;
					}
				}
			}
		}
	}
}


/*
#sidebar {
	width: 200px;
	height: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	left:0;
	background-color: @vGray;

	.v-logo{
		display: block;
	}
	.v-check{
		display: none;
		padding-bottom: 92px;
		background: white;
	}

	.user-header {
		height: 84px;
		background-color: #8b8f9e;
		display: table;
		width: 100%;
		color: @vWhite;
		position: relative;

		.user-avatar {
			width: 57px;
			height: 57px;
			display: table-cell;
			vertical-align: middle;

			img {
				margin-left: 16px;
				border-radius: 50%;
				width: 57px;
				height: 57px;
			}
		}

		!*.user-name {
			display: table-cell;
			vertical-align: middle;
			padding-left: 30px;
		}*!

		.dropdown {
			width: 100px;
			position: absolute;
			right: 12px;
			top: 28px;
			overflow: hidden;
			border: none;
			min-width: 100px;

			.btn-default {

				!*.username {
					width: 70px;
					text-overflow: ellipsis;
					display: inline-block;
					overflow: hidden;
				}*!
			}

			.dropdown-menu{
				border: none;
				top: 0;
			}
			ul {
				position: relative;
				width: 100%;

				li {
					a {
						font-size: 13px;
					}
				}
			}
		}
	}

	!*TODO: the rollover/active states are still wonky*!

	#main-menu {
		width: 200px;
		overflow: hidden;
		border: 0;
		margin: 0;

		li {
			border: none;
			margin: 0;
			background-color: @submenuBG;
			a {
				border: none;
				color: @vltGray;
				background-color: @vGray;
				text-decoration: none;
				padding: 7px 0 7px 15px;

				.menu-icon {
					margin: 3px;
					margin-right: 10px;
					margin-left:1px;
				}
				.icon-caret {
					float: right;
					margin-top: 2px;
					margin-right: 16px;
				}
				icon.fa-caret-down {
					display: none;
				}
				icon.fa-caret-left {
					display: block;
				}
			}
			ul {
				border-top: 0;
				display: none;
				margin: 0;
				padding: 0;

				li {
					.fa{
						font-size: 12px;
						position: absolute;
					}
					a {
						background-color: @submenuBG;
						color: @vltGray;
						padding: 7px 0 7px 25px;
						display: block;
					}
				}
				li:hover,
				li.active{
					color: white;
				}
			}
		}
		li:hover {
			a {
				background-color: @submenuBG;
				color: white;
				.menu-icon {
					color: white;
				}
				.icon-caret {
					color: white;
				}
			}
			a.sub-label{
				background-color: @themeColor;
			}
		}
		li.active{
			a.sub-label {
				background-image: none;
				background-color: @themeColor;
				color:white;
				.fa{
					color:white;
				}
			}
		}
		li.submenu.open {
			a {
				background-color: @submenuBG;
				icon.fa-caret-down {
					display: block;
				}
				icon.fa-caret-left {
					display: none;
				}
			}
			a.sub-label{
				color: white;
				.menu-icon,
				.icon-caret {
					color: white;
				}
			}
			a:hover{
				color:white;
				.menu-icon,
				.icon-caret {
					color: white;
				}
			}

			ul{
				li{
					a{
						color: @vltGray;
					}
				}
				li.active{
					a {
						color: white;
					}
				}
			}
		}
		li.submenu.active{
			a {
				color: @submenuBG;
				.menu-icon {
					color: white;
				}
				.icon-caret {
					color: white;
				}
			}
			a.sub-label {
				background-color: @themeColor;
				color: white;
				.fa {
					color: white;
				}
			}
		}
	}
}
*/


/*.dropdown {
	margin: 0 auto;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	min-width: 160px;

	.btn-default,
	.btn-default:hover,
	.btn-default:focus,
	.btn-default:active{
		width: 100%;
		height: 28px;
		background-color: white;
		padding: 0 8px;
		padding-left: 12px;
		margin: 0;
		box-shadow: none !important;
		text-align: left;
		font-size: 13px;
		color:@vGray;
		white-space: normal;
		border-width: 1px;

		.username {
			width: 70px;
			text-overflow: ellipsis;
			display: inline-block;
			overflow: hidden;
		}

		.caret{
			float: right;
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			margin-top: 8px;
		}
	}


	.dropdown-toggle,
	.dropdown-toggle:focus,
	.dropdown-toggle:hover,
	.dropdown-toggle:active {
		font-family: 'OpenSansBold', sans-serif;
		box-shadow: none;
		-webkit-box-shadow: none;
		background-color: white;
		border: 1px #000 solid;
		padding-left: 12px;
		font-size: 14px;
		height: 34px;

	}


	.dropdown-menu{
		border-radius: 0;
		top: 33px;
		left: 0;
		position: absolute;
		width: 100%;

	}
	ul {
		font-family: 'OpenSansSemiboldRegular', sans-serif;
		margin: 0;
		padding: 0;
		position: relative;

		li {
			a {
				font-size: 14px;
				padding: 3px 12px;
			}
			a:hover,
			a:focus {
				background-image: none;
			}
			a.active:hover {

			}
		}
	}
}*/

/*.top-nav-bar {
	width: 100%;
	height: 48px;
	background: @headerFooter;
	display: inline-table;

	a {
		display: table-cell;
		vertical-align: middle;
		width: 48px;

		.fa.fa-search,
		.fa.fa-indent,
		.fa.fa-outdent {
			font-size: 22px;
			padding-left: 15px;
			padding-right: 21px;
			width: 48px;
		}
	}
	.top-bar-content {
		text-align: right;
		display: table-cell;
		vertical-align: middle;
		font-size: 12px;
		padding-right: 16px;

		a {
			display: inline-block;
			width: auto;
			.fa {
				font-size: 18px;
			}
		}
	}
}*/

.top-nav-bar .top-bar-content a .fa {
	padding-left: 12px;
	padding-right: 0;
}

.scrollup {
	z-index: 300;
	bottom: 60px;
	icon {
		color: @vltGray;
	}
}



.crumb {
  display: inline-block;
  overflow: hidden;

  a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    line-height: 36px;
    color:@vGray;
    padding:0;
    position: relative;
  }

  a:after{
    content: ' >';
    padding: 0 12px;
  }

  a:last-child:after {
    content: ' ';
  }

  a.active,
  a:hover{
    color: @themeColor;
  }

  a.active:after,
  a:hover:after {

  }
}

.tab-title{
  margin:0;
	font-family: 'OpenSansBold', sans-serif;
}







.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid white;
	border-left-width: 5px;
	border-radius: 3px;
	background-color: white;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-danger  {
	border-left-color: @themeColor;
}
.bs-callout-danger h4 {
	color: @themeColor;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid white;
	border-left-width: 5px;
	border-radius: 3px;
	background-color: white;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-danger  {
	border-left-color: @themeColor;
}
.bs-callout-danger h4 {
	color: @themeColor;
}

