#avatarUploadBtn{
	text-align: center;
	cursor:pointer;
	max-width: 200px;

	img{
		border-radius: 50%;
		border: 5px gray solid;
		width: 100px;
		height: 100px;
		margin-bottom: 16px;
	}
	.btn-success{
		margin: 0 auto;
	}
}

.bootbox{
	.modal-dialog{
		.modal-content{
				width: 100%;
				min-height: 120px;
				display: inline-block;
			.modal-body{
				padding: 0;
				width: 720px;
			}
		}
	}
}

#profilePicContainer{
	padding: 0;
	background-color: black;
	width:420px;
	height: 360px;

	#profilePic{
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
}

#preview-image{
	height: 360px;
	padding: 24px;
	img{
		border: 4px gray solid;
		border-radius: 50%;
		width:100px;
		height:100px;
	}
	.controls{
		position: absolute;
		bottom: 12px;
		left: 0;
		margin-left: 16px;

		.btn-file,
		.btn-success{
			width: 132px;
			margin: 8px;
		}
		.btn-file,{
			margin: 0;
		}
	}
}

#crop-area {
	width:420px;
	height:360px;
	display: table;
	overflow: hidden;

	.img-crop {
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}


/* USER ADMIN */
#ProfilePicThumb{
	margin-top: 12px;
	img{
		border-radius: 50%;
		border: 5px gray solid;
	}
}

#UserForm{
	#NewUserForm{
		text-align: left;
	}
}

#EditUserForm{
	text-align: left;
}

#user-add{
	.modal-dialog{
		width:initial;
	}
	.modal-body{
		padding-top: 36px;
	}
}



a.fa-toggle-off,
a.fa-toggle-off:hover{
	color:@vGray;
}

a.fa-toggle-on,
a.fa-toggle-on:hover{
	color:@vGreen;
}