#content{
	.widget-box{
		.widget-title {
			span.icon{
				display: none;
			}
		}
		.tab-content {
			padding: 20px;

			.pull-right{
				.btn{
					margin-left: 10px;
					margin-right: 0;
				}
			}
		}
	}
	.ui-state-default{
		background-color: @vltGray;
	}

	table{
			thead{
			border:none;
			background-color: @vltGray;
			tr{
				th{
					border:none;
					color:white;
					font-size: 14px;
					text-align: center;
				}
				th:first-child{
					text-align: left;
				}
				th:last-child{
				}
			}
		}
		tbody{

			tr{
				td{
					border:none;
					text-align: center;
				}
				td:first-child{
					text-align: left;
				}
			}
		}
	}
}




.key{
	margin-top:16px;
	margin-left: 16px;
	ul{
		list-style: none;
		padding: 0;
		li{
			display: inline-block;
			font-size:12px;
			margin-right: 12px;

			icon{
				font-size: 22px;
				margin-right: 2px;
			}
			icon.fa-check-circle{
				color:#7aae4f;
			}
			icon.fa-exclamation-circle{
				color:#e4803e;
			}
			icon.fa-exclamation-triangle{
				color:#d2212a;
			}
		}
	}
}

.widget-content {
	//border-bottom: 1px solid #CDCDCD;

	.bar-menu {

		.glyphicon {
			color: white;
			font-size: 16px;
			cursor: pointer;
			top: 3px;
			margin-right: 0;
			margin-left: 14px;
		}
	}


}