<style>
        .info-msg{
            color: green;
        }
        .error-msg{
            color: red;
        }
        .mandatory{
            color:red;
        }
        #content {
        margin-left:0px;
        }
        .row-message{
            height: 100px;
        }
</style>
<div id="content">
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <h5>User Profile</h5>
            </div>
            <div class="widget-content tab-content">
                <div class="row-fluid">
                    <div id="UserForm" class="col-md-12">
                        <!-- <form ng-submit="ok()" name="userForm" novalidate> -->
                        <form novalidate angular-validator angular-validator-submit="ok()" name="userForm">
                            <div class="btn-toolbar container-fluid">
                                <div class="btn-group">
                                    <div class="sub-group">
                                        <h4>User Information</h4>
                                        <span class="note">Note: <span class="mandatory">*</span> These fields are required.</span><br>
                                    </div>
                                    <div class="sub-group">
                                        <button class="save btn btn-success pull-right" type="submit" ng-disabled="userForm.$invalid"><i class="fa fa-save"></i>Save</button>
                                        <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-message">
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label>First Name:<span class="mandatory">*</span></label>
                                        <input  type = "text"
                                                name = "firstname"
                                                class = "form-control"
                                                ng-model = "vm.form.firstname"
                                                required-message="'First name, please.'"
                                                required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Last Name:<span class="control-label mandatory">*</span></label>
                                        <input  type = "text"
                                                name = "lastname"
                                                class = "form-control"
                                                ng-model = "vm.form.lastname"
                                                required-message="'Last name, please.'"
                                                required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Username:<span class="mandatory">*</span></label>
                                        <input  type = "text"
                                                name = "username"
                                                validate-on="dirty"
                                                class = "form-control"
                                                ng-model = "vm.form.username"
                                                ng-readonly="vm.state == 'update'"
                                                ng-disabled="vm.state == 'update'"
                                                invalid-message="'Username already taken.'"
                                                required-message="'Username, please.'"
                                                ng-model-options="{ getterSetter: true, allowInvalid: true }"
                                                username-validator
                                                required>
                                        </div>
                                    </div>
                            </div>
                            <div class="row  row-message">
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label>Contact Email:<span class="mandatory">*</span></label>
                                        <input  type = "email"
                                                name = "email"
                                                validate-on="dirty"
                                                class = "form-control"
                                                ng-model = "vm.form.email"
                                                ng-readonly="vm.state == 'update'"
                                                ng-disabled="vm.state == 'update'"
                                                invalid-message="'Unable to use this email.'"
                                                required-message="'Email, please.'"
                                                ng-model-options="{ getterSetter: true, allowInvalid: true }"
                                                email-validator
                                                required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Group:<span class="mandatory">*</span></label>
                                        <select
                                            class="form-control btn-groups"
                                            id="btn-ugroups"
                                            name="usergroup"
                                            ng-model="vm.form.usergroup"
                                            ng-options="group.group_name as group.group_name for group in vm.groups"
                                            required-message="'Group, please.'"
                                            required>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Role:<span class="mandatory">*</span></label>

                                    <select
                                        class="form-control btn-roles"
                                        id="btn-roles"
                                        name="role"
                                        ng-model="vm.form.role"
                                        required-message="'Role, please.'"
                                        required>
                                        <option ng-repeat="role in vm.roles" value="{{role.role_id}}">{{role.role_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row row-message">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label>Work Phone:<span class="mandatory">*</span></label>
                                    <input class="form-control" name="workphone" type="text" ng-model="vm.form.workphone" id="workphone"
                                        validate-on="blur"
                                        required-message="'Workphone, please.'"
                                        required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Cell Phone:</label>
                                    <input class="form-control" type="text" ng-model="vm.form.cellphone" name="cellphone" />
                                </div>
                            </div>
                        </div>
                        <div class="row row-message">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label>Address line 1:<span class="mandatory">*</span></label>
                                    <input class="form-control" type="text" ng-model="vm.form.Address1" name="Address1" id="Address1" maxlength="50" size="50"
                                        validate-on="blur"
                                        required-message="'Address1, please.'"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Address line 2:</label>
                                    <input class="form-control" type="text" ng-model="vm.form.Address2" name="Address2" id="Address2" maxlength="50" size="50">
                                </div>
                            </div>
                        </div>
                        <div class="row row-message">
                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label>City:<span class="mandatory">*</span></label>
                                    <input class="form-control" type="text" ng-model="vm.form.City" name="City" id="City"
                                        validate-on="blur"
                                        required-message="'City, please.'"
                                        required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State:<span class="mandatory">*</span></label>
                                    <select
                                        class="form-control btn-states"
                                        id="btn-states"
                                        name="states"
                                        ng-model="vm.form.State"
                                        ng-options="state as state for state in vm.states"
                                        validate-on="blur"
                                        required-message="'State, please.'"
                                        required>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Zip:<span class="mandatory">*</span></label>
                                    <input class="form-control" type="text" size="5" maxlength="5" ng-model="vm.form.Zip" id="Zip" name="Zip"
                                        validate-on="blur"
                                        invalid-message="'Invalid Zip Code format.'"
                                        required-message="'Zip Code, please.'"
                                        ng-maxlength="5"
                                        required>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="id" value="{{vm.form.id}}" />
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>