.navbar {
    padding: 0 20px;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container {
    margin: auto;
    max-width: 1000px;
}
.code-coverage {
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 10px;
}

#content {
    background: none repeat scroll 0 0 #ffffff;
}

.box-header {
    background-color: #313944 !important;
    color: #ffffff !important;
}

/*
a {
    color: #fff !important;
}*/
