<style>
	.box-content {
		height:90%;
		padding:0;
	}
	
	.box-content .img-wrapper {
		height:100%;
		width:100%;
		margin-top:-4px;
	}

	#PassedDueDate {
		background-color: #313944;
	    margin-top: -5px;
	    height: 444px;
	}

	.box-content img {
		max-width:97%; 
		max-height:90%;
		margin:5px;
		display:block;
	}

	.btn {
		border-radius: 5px;
	}
	.btn .glyphicon {
	    margin-right:10px;
	}
	
	.gridster {
		border:none;
	}

	.addWidget {
		margin-top: 15px;
    	margin-right: 191px;
	}
</style>
<div class="page-header">
	<a class="pull-right btn btn-success addWidget" ng-click="addWidget()"><i class="glyphicon glyphicon-th"></i> Add Widget</a>
	<h1 style="display: inline-block; width: 200px;">Dashboard</h1>
	



</div>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h3>{{ widget.name }}</h3>
					<div class="box-header-btns pull-right">
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-chevron-down"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content">
					<div id="{{widget.id}}" class="img-wrapper" ng-bind-html="widget.content | sanitize"></div>
				</div>
			</div>
		</li>
	</ul>
</div>

<script>
	/*var logoHeight = $('#Top5Nodes').height();
    if (logoHeight < 180) {
        var margintop = (180 - logoHeight) / 2;
        $('#Top5Nodes img').css('margin-top', margintop);
    }*/

</script>