<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-3">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:<i class="fa fa-asterisk field-required"></i></label>
                        <select id="VSN" ng-model="vm.form.VSN" required="">
                            <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="SPIP" class="col-sm-5 control-label">SPIP:</label>
                        <input type="text" class="form-control" id="SPIP" ng-model="vm.form.SPIP" required="" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="HostOffset" class="col-sm-5 control-label">Host Offset:</label>
                        <input type="text" class="form-control" id="HostOffset" ng-model="vm.form.HostOffset" required="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="IPAddress" class="col-sm-5 control-label">IP Address:</label>
                        <input type="text" class="form-control" id="IPAddress" ng-model="vm.form.IPAddress" required="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Device" class="col-sm-5 control-label">Device:</label>
                        <input type="text" class="form-control" id="Device" ng-model="vm.form.Device" required="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <textarea class="form-control" id="Description" rows="5" ng-model="vm.form.Description" required="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

