<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VSN" class="col-sm-5 control-label">VSN:</label>
                        <div class="col-sm-6">
                            <select id="VSN" ng-model="vm.form.VSN">
                                <option ng-repeat="option in vm.vsnOptions track by $index" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="VPNConfigName" class="col-sm-5 control-label">VPNConfigName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="VPNConfigName" ng-model="vm.form.VPNConfigName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="MainBranch" class="col-sm-5 control-label">MainBranch:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="MainBranch" ng-model="vm.form.MainBranch" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteNode" class="col-sm-5 control-label">RemoteNode:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteNode" ng-model="vm.form.RemoteNode" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteGatewayName" class="col-sm-5 control-label">RemoteGatewayName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteGatewayName" ng-model="vm.form.RemoteGatewayName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="RemoteSubnets" class="col-sm-5 control-label">RemoteSubnets:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="RemoteSubnets" ng-model="vm.form.RemoteSubnets" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="TunnelInt" class="col-sm-5 control-label">TunnelInt:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="TunnelInt" ng-model="vm.form.TunnelInt" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="LocalGwyIp" class="col-sm-5 control-label">LocalGwyIp:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LocalGwyIp" ng-model="vm.form.LocalGwyIp" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="TunnelZone" class="col-sm-5 control-label">TunnelZone:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="TunnelZone" ng-model="vm.form.TunnelZone" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="TerminationPhyInt" class="col-sm-5 control-label">TerminationPhyInt:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="TerminationPhyInt" ng-model="vm.form.TerminationPhyInt" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="TerminationPhyIntZone" class="col-sm-5 control-label">TerminationPhyIntZone:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="TerminationPhyIntZone" ng-model="vm.form.TerminationPhyIntZone" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PhyIntVRouter" class="col-sm-5 control-label">PhyIntVRouter:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="PhyIntVRouter" ng-model="vm.form.PhyIntVRouter" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="GwyParms" class="col-sm-5 control-label">GwyParms:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="GwyParms" ng-model="vm.form.GwyParms" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="AutKeyIKEParms" class="col-sm-5 control-label">AutKeyIKEParms:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="AutKeyIKEParms" ng-model="vm.form.AutKeyIKEParms" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PreSharedKey" class="col-sm-5 control-label">PreSharedKey:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="PreSharedKey" ng-model="vm.form.PreSharedKey" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Description" ng-model="vm.form.Description" required="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


