{% extends "html/partials/base.html.twig" %}

{% block content %}
<div id="content">
    <div id="content-header">
        <h1>OOPS!</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><icon class="fa fa-search"></icon></span><h5>404 Not found <span>:(</span></h5></div>
                    <div class="widget-content">
                        <p>Sorry, but the page you were trying to view does not exist.</p>
                        <p>It looks like this was the result of either:</p>
                        <ul>
                            <li>a mistyped address</li>
                            <li>an out-of-date link</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}