{% extends "html/partials/base.html.twig" %}

{% block content %}
<script>
    head.ready( function() {
        head.load("/assets/js/lib/prettify/prettify.css");
        head.load("/assets/js/lib/prettify/prettify.js");
    });
</script>
<div id="content">
    <div class="pull-left" id="content-header">
        <h1><icon class="fa fa-bug"> Debug Info</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <pre class="prettyprint linenums">{{ output }}</pre>
        </div>
    </div>
</div>
{% endblock %}