{% extends "html/partials/base.html.twig" %}

{% block content %}

    <div id="content">
        <div id="content-header">
            <h1 class="pull-left"><icon class="fa fa-times"></icon>Help</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                            <blockquote>
                                {% for help in helplines %}
                                    {{ help }}
                                {% endfor %}
                            </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}