<script>window.location.href = "/node/browser";</script>

{#
{% extends "html/partials/base.html.twig" %}

{% block content %}
<div id="content">
    <div id="content-header">
        <h1>{{ constant('APP_NAME') }}</h1>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><h5>Welcome!</h5></div>
                    <div class="widget-content">
                        <div class="row-fluid">
                            <div class="span10 text-center">
                                <h5>This is the Verizon Business Database Portal.</h5><p>Information is broken down by Node Type, followed by sites of a given Node Type. You can navigate through the different Node Types on the left. By selecting a Node Type, you will be given a list of Sites pertaining to that node type. Other options are available to create a new node site, or generate templates from a MOP, and configs from existing templates. The left-hand menu can be collapsed at any time using the option at the top.</p>
                            </div>
                            <div class="span2 text-center">
                                <ul class="stat-boxes">
                                    <li>
                                        <div class="right text-center">
                                            <strong>{{ total_sites() }}</strong>
                                            Total Sites
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <ul class="nav nav-tabs">
                            <li class=""><a data-toggle="tab" href="#tab1">Node Type Overview</a></li>
                            <li class=""><a data-toggle="tab" href="#tab2">Broadsoft</a></li>
                            <li class=""><a data-toggle="tab" href="#tab3">DSCIP</a></li>
                            <li class=""><a data-toggle="tab" href="#tab4">IPAC</a></li>
                            <li class=""><a data-toggle="tab" href="#tab5">ISCIP</a></li>
                            <li class=""><a data-toggle="tab" href="#tab6">NSRS</a></li>
                            <li class="active"><a data-toggle="tab" href="#tab7">PIP NNI</a></li>
                        </ul>
                    </div>
                    <div class="widget-content tab-content">
                        <div id="tab1" class="tab-pane">
                            These tabs can be used to view the different overviews for each node type.
                        </div>
                        <div id="tab2" class="tab-pane">
                            This is a Tab Two Content
                        </div>
                        <div id="tab3" class="tab-pane">
                            This is a Tab Two Content
                        </div>
                        <div id="tab4" class="tab-pane">
                            This is a Tab Three Content
                        </div>
                        <div id="tab5" class="tab-pane">
                            This is a Tab Three Content
                        </div>
                        <div id="tab6" class="tab-pane">
                            This is tab six content
                        </div>
                        <div id="tab7" class="tab-pane active">
                            <img src="/assets/images/Nodes/PIP NNI Connectivity.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

#}
