{% extends "html/partials/base.html.twig" %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <h1 class="pull-left">Sitemap - {{ date }}</h1>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-content">
                            <div class="row-fluid">
                            {% for loc in locs %}
                                <a href="{{ loc }}" target="_blank">{{ loc }}</a><br>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}