<div class="editor">
    <div class="editorForm">
        <div class="row">
            <div class="col-md-12">
                <div class="editor-title">
                    <span>{{vm.labels[vm.state].title}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="editor-subtitle">
                    <h2>{{vm.labels[vm.state].subTitle}}</h2>
                    <p>Note: <i class="fa fa-asterisk field-required" style="{color:red;}"></i> These fields are required</p>
                </div>
            </div>
        </div>
        <div class="form-elements">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="SiteName" class="col-sm-5 control-label">SiteName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SiteName" ng-model="vm.form.SiteName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="IPEndpoint" class="col-sm-5 control-label">IPEndpoint:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="IPEndpoint" ng-model="vm.form.IPEndpoint" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="InterfaceName" class="col-sm-5 control-label">InterfaceName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="InterfaceName" ng-model="vm.form.InterfaceName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="NodeName" class="col-sm-5 control-label">NodeName:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="NodeName" ng-model="vm.form.NodeName" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Region" class="col-sm-5 control-label">Region:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="Region" ng-model="vm.form.Region" setSelected="US">
                                  <option selected value="US">US</option>
                                  <option value="EMEA">EMEA</option>
                                  <option value="APAC">APAC</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Description" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Description" ng-model="vm.form.Description" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PingCount" class="col-sm-5 control-label">PingCount:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="PingCount" ng-model="vm.form.PingCount" setSelected="1">
                                  <option selected value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PingInterval" class="col-sm-5 control-label">PingInterval:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="PingInterval" ng-model="vm.form.PingInterval" setSelected="1">
                                  <option selected value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">5</option>
                                  <option value="7">5</option>
                                  <option value="8">5</option>
                                  <option value="9">5</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">17</option>
                                  <option value="18">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                  <option value="24">24</option>
                                  <option value="25">25</option>
                                  <option value="26">26</option>
                                  <option value="27">27</option>
                                  <option value="28">28</option>
                                  <option value="29">29</option>
                                  <option value="30">30</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PingSize" class="col-sm-5 control-label">PingSize:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="PingSize" ng-model="vm.form.PingSize" setSelected="1500">
                                  <option value="64">164</option>
                                  <option value="128">128</option>
                                  <option value="256">256</option>
                                  <option value="512">512</option>
                                  <option value="1024">1024</option>
                                  <option selected value="1500">1500</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="PingPattern" class="col-sm-5 control-label">PingPattern:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="PingPattern" ng-model="vm.form.PingPattern" setSelected="random">
                                  <option selected value="random">random</option>
                                  <option value="0x00">0x00</option>
                                  <option value="0xFF">0xFF</option>
                                  <option value="0x55">0x55</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="Status" class="col-sm-5 control-label">Status:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="Status" ng-model="vm.form.Status" setSelected="Test">
                                  <option selected value="test">Test</option>
                                  <option value="prod">Prod</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" ng-model="vm.form.id" />
                        <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="ok()">{{vm.labels[vm.state].submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






