<div id="t_users" class="tab-pane active" >
    <div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div ng-controller="userEditorController"></div>
                    <div class="row">
                        <div class="col-md-12">
                        <div>
                            <div class="col-md-2 row-offset grid-align">
                                <!-- Show/Hide Column Functionality -->
                                <div
                                        isteven-multi-select
                                        input-model="vm.multiSelectColumns"
                                        output-model="vm.shownColumns"
                                        button-label="name"
                                        item-label="name"
                                        tick-property="ticked" ,
                                        output-properties="field" ,
                                        max-labels="1" ,
                                        search-property="name" ,
                                        helper-elements="" ,
                                        on-item-click="vm.toggleGridColumns(data)">
                                </div>
                            </div>
                            <div class="col-md-3 col-md-offset-2 row-offset grid-align">
                                <!-- Search -->
                                <span class="searchicon">
                                    <input ng-model="vm.userFilterValue" class="form-control"
                                           name="search"
                                           placeholder="Search within this selection"/>
                                </span>
                            </div>
                            <div class="grid-actions">
                                <div class="grid-align">
                                    <button id="newUser" type="button" ng-click="vm.openModal('create')"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-user-plus"></i>New
                                    </button>
                                    <span class="pull-right delete-btn" ng-if="vm.displayDeleteBtn">
                                        <i class="fa fa-trash-o fa-2x" ng-click="vm.deleteRows()"
                                           tooltip="Delete"></i>
                                    </span>
                                    <span class="pull-right edit-btn" ng-if="vm.displayEditBtn">
                                        <i class="fa fa-pencil fa-2x" ng-click="vm.openModal('update')"
                                           tooltip="Edit"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <div cg-busy="vm.loadingPromise">
                                <div ui-grid-selection ui-grid-pagination
                                     ui-grid="vm.options"
                                     class="grid"></div>
                            </div>
                            <!-- TODO: this will need to be removed -->
                            <div style="display:none;" class="custom-csv-link-location">
                                <label>Your CSV will show below:</label>
                                <span class="ui-grid-exporter-csv-link">&nbsp</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>