#t_users {
	.grid {

		.middle {
			padding-top:10px;
		}

		i.fa.fa-toggle-on.active {
			color: #7bae51 !important;
		}
		i.fa.fa-toggle-off.inactive {
			color: #8b8f9e !important;
		}
		
		.inactiveUser {
			opacity: 0.40 !important;
		}

		select {
			min-width:125px;
			border: none;
			background:inherit;
		}

		img.user-image {
			width: 50px;
			height: 50px;
			margin-top: 5px;
		}
	}
}