{% extends "html/partials/base.html.twig" %}

{% block content %}
	<script type="text/javascript">

		head.ready(["imgAreaSelect"], function () {

			// Personal Profile Form
/*
			$("#ProfileForm .form-control").attr('disabled', true);
			$("#EditProfile").show();
			$("#UpdateProfile").hide();
			$("#CancelEdit").hide();

			$("#EditProfile").click(function () {
				$("#ProfileForm .form-control").attr('disabled', false);
				$(this).hide();
				$("#UpdateProfile").show();
				$("#CancelEdit").show();
			});

			$('#delete-button').click(function () {
				$('#action').val('delete');
				$('#ProfilePicForm').submit();
			});
*/

		});

		head.ready(function () {
			$('#npassword').change(function () {
				$('#passwd_entered').val( parseInt($('#passwd_entered').val())+1 );
			});

			$('#cpassword').change(function () {
				$('#passwd_entered').val( parseInt($('#passwd_entered').val())+1 );
			});

			$('#UpdateProfile').click(function () {
				if ($('#passwd_entered').val() == 1) {
                    alert('Your password will not be updated.');
                    //$('#error-msg-passwd').html('Your password will not be updated.');
                } else if ($('#passwd_entered').val() == 2) {
                if ( !$('#password').val().length ) {
                        //alert('Please specify your current password.');
                        $('#error-msg-passwd').html('Please specify your current password.');
                        return false;
                    }
                }
                $('#passwd_entered').val(0);
                $('#ProfileForm').submit();
			});

            $('#mod-delete-button').click(function () {
                $('#mod-action').val('delete');
                $('#ProfilePicFormModal').submit();
            });

        });
	</script>
    <style>
        .info-msg{
            color: green;
        }

        .error-msg{
            color: red;
        }

        .mandatory{
            color:red;
        }
    </style>
	<div id="content" ng-controller="userManagementController">
		<div id="content-header">
			<h1>User Profile</h1>
		</div>
		<div class="container-fluid">
			<div class="widget-box">
				<div class="widget-title">
					<h5>User Profile</h5>
				</div>

				<div class="widget-content tab-content">
					<div class="row-fluid">
						<div id="avatarUploadBtn" class="col-md-2"
						     ng-bootbox-title="Edit Image"
						     ng-bootbox-custom-dialog
						     ng-bootbox-custom-dialog-template="components/admin/users/userManagement/imageCrop.tpl.html"
						     ng-bootbox-buttons="customDialogButtons">

							{% if image == 0 %}
								<img src="/assets/images/vzportal/defaultUserImage.png" alt="No image" width="100" height="100">
							{% else %}
								<img src="{{ php._SESSION.rules.ProfileImageUpload }}{{ image }}" alt="{{ image }}" width="100" height="100">
							{% endif %}

							<button class="btn btn-success">
								<icon class="fa fa-cloud-upload"></icon> Upload
							</button>
						</div>

						<div id="UserForm" class="col-md-10">
							<form id="ProfileForm" enctype="multipart/form-data" action="/admin/profile" method="POST">

								<div class="btn-toolbar container-fluid">
									<div class="btn-group">
										<div class="sub-group">
											<h4>User Information</h4>
											<span class="note">Note: <span class="mandatory">*</span> These fields are required.</span><br>
											<span class="error-msg">{{ message }}</span>
										</div>
                                        {#
										<div class="sub-group">
											<button id="UpdateProfile" class="btn btn-success pull-right" type="submit"><i class="fa fa-save"></i> Save</button>
											<!-- button id="EditProfile" class="btn btn-success pull-right"><i class="fa fa-pencil"></i>Edit</button -->
											<!-- button id="CancelEdit" onclick="window.location.reload(true); return false;" class="btn btn-default">Cancel</button -->
										</div>
                                        #}
									</div>
								</div>

								<div class="controls">
									<div class="form-group col-md-4">
										<label>First Name:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.firstname }}" name="firstname" id="firstname">
									</div>
									<div class="form-group col-md-4">
										<label>Last Name:<span class="control-label mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.lastname }}" name="lastname" id="lastname">
									</div>
									<div class="form-group col-md-4">
										<label>Username:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.username }}" name="username" id="username">
									</div>
								</div>

								<div class="controls">
									<div class="form-group col-md-4">
										<label>Contact Email:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.email }}" name="email" id="email">
									</div>

									<div class="form-group col-md-4">
										<label>Group:<span class="mandatory">*</span></label>
										<select class="form-control btn-groups" id="btn-ugroups" name="usergroup">
											{% for group in groups %}
												{% if group == user.usergroup %}
													<option id="option_{{ group }}" value="{{ group }}" selected>{{ group }}</option>
												{% else %}
													<option id="option_{{ group }}" value="{{ group }}">{{ group }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>

									<div class="form-group col-md-4">
										<label>Role:<span class="mandatory">*</span></label>
										<select class="form-control btn-roles" id="btn-roles" name="role">
											{% for role in roles %}
												{% if role == user.role %}
													<option id="option_{{ role }}" value="{{ role }}" selected>{{ role }}</option>
												{% else %}
													<option id="option_{{ role }}" value="{{ role }}">{{ role }}</option>
												{% endif %}

											{% endfor %}
										</select>
									</div>
								</div>

								<div class="controls">
									<div class="form-group col-md-6">
										<label>Work Phone:<span class="mandatory">*</span></label>
										<input class="form-control" name="workphone" type="text" value="{{ user.workphone }}" id="workphone">
									</div>
									<div class="form-group col-md-6">
										<label>Cell Phone:</label>
										<input class="form-control" type="text" value="{{ user.cellphone }}" name="cellphone">
									</div>
								</div>

								<div class="controls">
									<div class="form-group col-md-6">
										<label>Address line 1:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.Address1 }}" name="Address1" id="Address1" maxlength="50" size="50">
									</div>
									<div class="form-group col-md-6">
										<label>Address line 2:</label>
										<input class="form-control" type="text" value="{{ user.Address2 }}" name="Address2" id="Address2" maxlength="50" size="50">
									</div>
								</div>

								<div class="controls">
									<div class="form-group col-md-4">
										<label>City:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" value="{{ user.City }}" name="City" id="City">
									</div>

									<div class="form-group col-md-4">
										<label>State:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" maxlength="2" size="2" value="{{ user.State }}" id="State" name="State">
									</div>

									<div class="form-group col-md-4">
										<label>Zip:<span class="mandatory">*</span></label>
										<input class="form-control" type="text" size="5" maxlength="5" value="{{ user.Zip }}" id="Zip" name="Zip">
									</div>
								</div>
                                <div class="container-fluid">
                                    <div class="sub-group">
                                        <button id="UpdateProfile" class="btn btn-success pull-right" type="submit"><i class="fa fa-save"></i> Save</button>
                                        {#<button id="EditProfile" class="btn btn-success pull-right"><i class="fa fa-pencil"></i>Edit</button>#}
                                        {#<button id="CancelEdit" onclick="window.location.reload(true); return false;" class="btn btn-default">Cancel</button>#}
                                    </div>
                                </div>

								<br />

								<div class="container-fluid">
									<hr>
									<h4>User Password</h4>
									<span class="note">Note: <span class="mandatory">*</span> These fields are required to change your password.</span>
									<div id="info-msg" class="info-msg">Password must be at least 8 characters long and use 1 uppercase letter, 1 lowercase letter and special character (such as 1,@,#,$,%,^)</div>
								</div>
								<br />
								<div class="controls col-md-12 lr-padding">
									<div class="form-group col-md-6">
										<label>Current Password: <span class="mandatory">*</span></label>
										<input class="form-control" type="password" id="password" name="password" placeholder="" value=""><br>
									</div>
								</div>
								<div class="controls">
									<div class="form-group col-md-6">
										<label>New Password: <span class="mandatory">*</span></label>
										<input class="form-control" type="password" id="npassword" name="npassword" placeholder="" value="">
									</div>
									<div class="form-group col-md-6">
										<label>Confirm New Password: <span class="mandatory">*</span></label>
										<input class="form-control" type="password" id="cpassword" name="cpassword" placeholder="" value="">
									</div>
                                    <input type="hidden" id="passwd_entered" name="passwd_entered" value="0">

									<div id="error-msg-passwd" class="error-msg"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}